<div class="articles-cat-container">
  <h2 class="cat cat-nuestros-programas carrousel-cat">{{ tituloSeccion }}</h2>
  <div class="articles-container">
    <div
      *ngFor="let item of data"
      (click)="verDetallePrograma(item.idPrograma)"
      class="articulo"
    >
      <div class="img-container">
        <ion-img
          class="elevation-3 img-card-thumbnail"
          [src]="item.imagen"
          alt=""
        ></ion-img>
      </div>
      <div *ngIf="item.fechaEvento != undefined" class="event-date-tag">
        <p>{{ item.fechaEvento }}</p>
      </div>
      <div class="titulo-fav">
        <h5>{{ item.titulo }}</h5>
      </div>
      <p class="subtitle text-truncate">
        {{ item.descripcion }}
      </p>
    </div>
  </div>
</div>
