.no-connection-container {
  margin-top: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  ion-img {
    height: 64px;
    width: 64px;
    margin-bottom: 20px;
  }

  .message-error {
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-color-gray);
  }

  .btn-error {
    font-size: 16px;
    font-weight: 800;
    color: var(--ion-color-primary);
    margin-top: 8px;
  }
}
