<div class="no-connection-container">
  <ion-img src="../../../assets/icons/no-classes.svg" alt="no connection icon" ></ion-img>
  <div class="title-button-container">
    <p class="message-error">Hubo un error al cargar la página</p>
    <div (click)="reintentarFn()"><p class="btn-error">Reintentar</p></div>
  </div>
</div>
