.page-container {
  margin-top: 28px;

  .page-title {
    margin-bottom: 8px;
  }

  .page-subtitle {
    color: var(--ion-color-medium-gray);
  }
}

.clases-container {
  margin-top: 40px;

  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.clases-container {
  margin-top: 40px;

  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.clase {
  margin-bottom: 24px;

  .img-info-container {
    display: flex;
    align-items: flex-start;

    .img-container-event {
      flex-shrink: 0;
      height: 64px;
      width: 64px;
      border-radius: 6px !important;
      overflow: hidden;
      margin-right: 16px;
      background: rgba(117, 117, 117, 0.18);

      ion-img {
        height: 100%;
        width: 100% !important;
        object-fit: cover;
      }
    }

    .class-info-container {
      h5 {
        margin-bottom: 4px;
      }

      p {
        font-size: 14px;
        color: var(--ion-color-medium-gray);
        margin-bottom: 16px;
      }
    }
  }
}

.ultimos-eventos-container {
  margin-bottom: 48px;
}
