<ion-content>
  <div class="back-arrow-container main-container" (click)="volver()">
    <ion-icon
      src="../../assets/icons/backArrow.svg"
      alt="back-arrow"
      class="back-arrow-icon"
    ></ion-icon>
    <p>Volver</p>
  </div>
  <div class="divider"></div>
  <div class="main-container page-container">
    <h3 class="page-title">Mis eventos</h3>
    <p class="page-subtitle">
      Esta es una lista de todos los eventos en los que participaste.
    </p>
    <div class="clases-container">
      <div
        *ngFor="let evento of nivelesS.participaciones.eventos"
        class="clase"
      >
        <div class="img-info-container">
          <div class="img-container-event">
            <ion-img [src]="evento.imagen"></ion-img>
          </div>
          <div class="class-info-container">
            <h5>{{evento.titulo}}</h5>
            <p>{{evento.fecha}}</p>
            <div class="tags-container">
              <div
                [hidden]="evento.conocimiento==0"
                class="small-tag tag-conocimiento"
              >
                +{{evento.conocimiento}}
              </div>
              <div
                [hidden]="evento.creatividad==0"
                class="small-tag tag-creatividad"
              >
                +{{evento.creatividad}}
              </div>
              <div [hidden]="evento.destreza==0" class="small-tag tag-destreza">
                +{{evento.destreza}}
              </div>
              <div
                [hidden]="evento.bienestar==0"
                class="small-tag tag-bienestar"
              >
                +{{evento.bienestar}}
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</ion-content>
