<ion-content>
  <div class="page-container">
    <div class="header">
      <div class="mas-title main-container">
        <ion-icon
          src="../../../assets/icons/mas-haml.svg"
          alt=""
          class="ham-menu"
        ></ion-icon>
        <h3>Más</h3>
      </div>
    </div>
    <div class="list-container main-container">
      <li class="list-item" (click)="navigate('trivia')">
        <ion-icon
          src="../../../assets/icons/mas-trivia.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text">Trivia</p>
      </li>
      <li class="list-item" (click)="navigate('escanerQR')">
        <ion-icon
          src="../../../assets/icons/mas-qr.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text">Escaner QR</p>
      </li>
      <li class="list-item" (click)="navigate('encuestas')">
        <ion-icon
          src="../../../assets/icons/mas-encuestas.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text">Encuestas</p>
      </li>
      <li class="list-item" (click)="navigate('ranking')">
        <ion-icon
          src="../../../assets/icons/mas-encuestas.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text">Ranking</p>
      </li>
      <ion-item detail="false" class="list-item" (click)="presentAlert()">
        <ion-icon
          src="../../../assets/icons/mas-portal.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text">Portal Elegí Bienestar</p>
      </ion-item>
      <li class="list-item" (click)="navigate('faq')">
        <ion-icon
          src="../../../assets/icons/mas-preguntas.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text">Preguntas frecuentes</p>
      </li>
      <li class="list-item" (click)="navigate('feedback')">
        <ion-icon
          src="../../../assets/icons/mas-sugerencias.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text-secondary">Sugerencias</p>
      </li>
      <li class="list-item" (click)="navigate('logout')">
        <ion-icon
          src="../../../assets/icons/mas-cerrarsesion.svg"
          alt=""
          class="list-item-icon"
        ></ion-icon>
        <p class="list-item-text-secondary">Cerrar sesión</p>
      </li>
    </div>
  </div>
</ion-content>

<!-- <ion-list>
  <ion-item (click)="navigate('escanerQR')">Escáner QR</ion-item>
</ion-list>
<ion-list>
  <ion-item (click)="navigate('trivia')">Trivia</ion-item>
</ion-list>
<ion-list>
  <ion-item (click)="navigate('encuestas')">Encuestas</ion-item>
</ion-list>
<ion-list>
  <ion-item (click)="navigate('feedback')">Feedback</ion-item>
</ion-list>
<ion-list>
  <ion-item [detail]="false" href="https://elegi-bienestar.com/"
    >Portal Elegí Bienestar</ion-item
  >
</ion-list>
<ion-list>
  <ion-item (click)="navigate('logout')">Cerrar sesión</ion-item>
</ion-list> -->
