ion-item {
  --inner-border-width: 0px 0px 0px 0px;

  --min-height: 0px;
  --padding-start: 0px;
}
.header {
  background-color: var(--ion-color-primary-tint1);
  height: 96px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 4px 4px rgba(38, 38, 38, 0.08);

  .mas-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .ham-menu {
      height: 32px;
      width: 32px;
      margin-right: 12px;
    }
    h3 {
      color: white;
    }
  }
}

.list-container {
  margin-top: 20px;
  list-style: none;
  padding: none;

  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .list-item-icon {
      margin-right: 16px;
      width: 32px;
      height: 32px;
    }

    .list-item-text {
      font-size: 18px;
      color: var(--ion-color-primary);
      font-weight: 600;
    }

    .list-item-text-secondary {
      font-size: 18px;
      color: var(--ion-color-light-gray);
      font-weight: 500;
    }
  }
}
