ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.tutorial-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .img-container {
    display: flex;
    justify-content: center;
  }
}

.title-subtitle {
  margin-top: 40px;

  .slide-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    color: var(--ion-color-offblack);

    span {
      color: var(--ion-color-primary);
    }
  }

  .slide-subtitle {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-color-medium-gray);
  }
}

.slide-button {
  margin-bottom: 64px;
}

.illus-1 {
  width: 228px;
  height: 192px;
}

.illus-2 {
  width: 156px;
  height: 208px;
}

.illus-3 {
  width: 132px;
  height: 208px;
}