<ion-content>
  <div class="tutorial-container main-container">
    <div class="empty-div"></div>
    <div class="slides">
      <ion-slides
        #slides
        (ionSlideWillChange)="onSlideChangeStart($event)"
        pager="false"
      >
        <ion-slide>
          <div class="img-container">
            <ion-img
              class="slide-img"
              src="../../assets/images/tutorial/1.svg"
              alt="slide illustration"
              class="illus-1"
            ></ion-img>
          </div>
          <div class="title-subtitle">
            <h2 class="slide-title">
              <span>Participá</span><br />eventos y clases
            </h2>
            <p class="slide-subtitle">
              Encontrá toda la propuesta de <br />
              eventos y clases de Elegí Bienestar.
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="img-container">
            <ion-img
              class="slide-img"
              src="../../assets/images/tutorial/2.svg"
              alt="slide illustration"
              class="illus-2"
            ></ion-img>
          </div>
          <div class="title-subtitle">
            <h2 class="slide-title">
              <span>Descubrí</span><br />los nuevos cursos
            </h2>
            <p class="slide-subtitle">
              Nunca dejes de aprender con esta<br />nueva serie de videos
              cortos.
            </p>
          </div>
        </ion-slide>

        <ion-slide>
          <div class="img-container">
            <ion-img
              class="slide-img"
              src="../../assets/images/tutorial/3.svg"
              alt="slide illustration"
              class="illus-3"
            ></ion-img>
          </div>
          <div class="title-subtitle">
            <h2 class="slide-title">
              <span>Subí de nivel</span><br />y ganá premios
            </h2>
            <p class="slide-subtitle">
              No podría ser un juego sin niveles y<br />premios. ¡Aprendé y
              ganá!
            </p>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="slide-button button-container">
      <ion-button (click)="goNext()">Continuar</ion-button>
    </div>
  </div>
</ion-content>
