<ion-content>
  <div class="page-container main-container">
    <div class="back-arrow-container" (click)="volver()">
      <ion-img
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
      ></ion-img>
      <p>Volver</p>
    </div>
    <div class="divider"></div>
    <div class="feedback-container">
      <div class="title-sub">
        <h3>Dejanos tus sugerencias</h3>
        <p>Ayudanos a mejorar tu experiencia dentro de la app</p>
      </div>
      <div class="form-container">
        <div class="form-feedback">
          <textarea
            [(ngModel)]="feedback"
            class="input-box input-feedback"
            name="feedback"
            id="feedback"
            cols="30"
            rows="10"
            placeholder="Tu mensaje..."
          ></textarea>
        </div>
      </div>
      <div class="button-container btn-feedback">
        <ion-button (click)="presentAlert()" class="button">Enviar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
