.back-arrow-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
  
    p {
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--ion-color-primary);
      margin-left: 4px;
    }
  }
  
  .feedback-container {
    margin-top: 28px;
    margin-bottom: 40px;
  
    .title-sub {
    margin-bottom: 40px;

    h3 {
        margin-bottom: 16px;
    }

    p {
        color: var(--ion-color-gray);
    }
  }
.btn-feedback {
    margin-top: 24px;
    max-width: none;
}
}