.back-arrow-container {
  margin-top: 24px;
  display: flex;
  align-items: center;

  p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--ion-color-primary);
    margin-left: 4px;
  }
}

.faq-container {
  margin-top: 28px;
  margin-bottom: 40px;

  h4 {
    margin-bottom: 40px;
  }

  .pregunta-container {
    margin-bottom: 32px;

    p {
      margin-top: 12px;
      color: var(--ion-color-gray);
    }
  }
}
