<ion-content>
  <div class="main-container">
    <div class="back-arrow-container" (click)="volver()">
      <ion-img
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
      ></ion-img>
      <p>Volver</p>
    </div>
    <div class="divider"></div>
    <div class="faq-container">
      <h4>Preguntas frecuentes</h4>
      <div *ngFor="let faq of data" class="pregunta-container">
        <h5>{{faq.pregunta}}</h5>
        <p>{{faq.respuesta}}</p>
      </div>
    </div>
  </div>
</ion-content>
