.segment {
  color: var(--ion-color-white);
  font-weight: 700;
}
.segment-button-indicator {
  //   --indicator-color: white;
  background: white;
}

ion-segment {
  width: 295px;
  margin-left: auto;
  margin-right: auto;
}

ion-segment-button {
  --indicator-color: white;
  --indicator-height: 4px;
  --border-radius: 50px;
  --color: white;
  font-family: "Poppins";
  font-weight: 500;
  width: 100px;
  text-transform: capitalize;
  font-size: 1rem;
}

.profile-container {
  margin-left: 20px;
  margin-right: 20px;
}

.skills-bar-container {
  margin-top: 28px;
}
.main-container {
  margin-bottom: 48px;

  h2,
  h4,
  p {
    color: var(--ion-color-white);
  }

  h2 {
    margin-top: 44px;
  }
}

.misiones-ver-mas {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    font-weight: 600;
    color: var(--ion-color-primary);
  }
}

.misiones-container::-webkit-scrollbar {
  display: none;
}

.misiones-container {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  // padding-bottom: 12px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 48px;

  // div:first-of-type {
  //   margin-left: 200px;
  // }
}

.misiones-container mision-tarjeta:last-child {
  padding-right: 265px;
}

.misiones-container mision-tarjeta {
  min-width: 245px;
  max-width: 245px;
  margin-right: 16px;
}

.cat-profile {
  font-family: "Press Start 2P", sans-serif;
  font-size: 11px;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  width: fit-content;
  font-weight: 400;
  color: var(--ion-color-primary);
  background: rgba(66, 180, 255, 0.12);
}

.cat-profile-events {
  color: var(--ion-color-destreza);
  background: rgba(255, 170, 42, 0.12);
}

// Mis participaciones

.ver-todo-btn {
  display: flex;
  justify-content: center;

  p {
    font-size: 14px;
    color: var(--ion-color-primary);
    font-weight: 600;
  }
}

.clases-container-ver-mas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clases-container {
  margin-top: 40px;

  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.clase {
  margin-bottom: 24px;

  .img-info-container {
    display: flex;
    align-items: flex-start;

    .img-container {
      flex-shrink: 0;
      padding: 12px;
      border-radius: 6px;
      margin-right: 16px;
      background: rgba(52, 185, 241, 0.18);

      ion-img {
        height: 40px;
        width: 40px;
      }
    }

    .class-info-container {
      h5 {
        margin-bottom: 4px;
      }

      p {
        font-size: 14px;
        color: var(--ion-color-medium-gray);
        margin-bottom: 16px;
      }
    }
  }
}

.ultimos-eventos-container {
  margin-top: 64px;
  margin-bottom: 48px;

  .img-container-event {
    flex-shrink: 0;
    height: 64px;
    width: 64px;
    margin-right: 16px;
    border-radius: 6px !important;
    overflow: hidden;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.no-event-class {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;

  p {
    font-size: 14px;
    line-height: 160%;
    color: var(--ion-color-medium-gray);
  }
}
