<ion-content color="primary">
  <div *ngIf="datosCargados==true">
    <div class="main-container">
      <h2>Perfil</h2>
      <tarjeta-usuario [nivelGeneral]="nivelGeneral"></tarjeta-usuario>
    </div>
    <ion-segment [(ngModel)]="segment" mode="md">
      <ion-segment-button
        value="avatar"
        [ngClass]="{'segment' : segment =='avatar'}"
      >
        Mi Avatar
      </ion-segment-button>
      <ion-segment-button
        value="misParticipaciones"
        [ngClass]="{'segment' : segment =='misParticipaciones'}"
      >
        Participaciones
      </ion-segment-button>
    </ion-segment>
    <div class="card-container">
      <div *ngIf='segment ==="avatar"' class="skills-container">
        <div class="mis-misiones-section">
          <div class="misiones-ver-mas profile-container">
            <h2 class="cat-profile">Mis misiones</h2>
            <div (click)="navigate()"><p>Ver todas</p></div>
          </div>
          <div class="divider profile-container"></div>
          <div class="misiones-container">
            <mision-tarjeta
              *ngFor="let mision of nivelesS.misiones"
              [mision]="mision"
              class="mission-self"
            ></mision-tarjeta>
          </div>
        </div>
        <div class="mis-habilidades-section profile-container">
          <h2 class="cat-profile">Mis habilidades</h2>
          <div class="divider"></div>
          <div class="skills-bar-container">
            <lista-atributos
              *ngIf="nivelesS.mostrarAtributos"
            ></lista-atributos>
          </div>
        </div>
      </div>
      <div
        *ngIf='segment ==="misParticipaciones"'
        class="skills-container profile-container"
      >
        <div *ngIf="nivelesS.mostrarAtributos">
          <!-- ULTIMAS CLASES -->
          <h2 class="cat-profile">Mis ultimas clases</h2>
          <div
            [hidden]="nivelesS.participaciones.clases.length==0"
            class="ultimas-clases-container"
          >
            <div class="clases-container">
              <div
                *ngFor="let clase of (nivelesS.participaciones.clases? nivelesS.participaciones.clases.slice(0,3):[])"
                class="clase"
              >
                <div class="img-info-container">
                  <div class="img-container">
                    <ion-img [src]="clase.imagenMini"></ion-img>
                  </div>
                  <div class="class-info-container">
                    <h5>{{clase.titulo}}</h5>
                    <p>{{clase.fecha}}</p>
                    <div class="tags-container">
                      <div
                        [hidden]="clase.conocimiento==0"
                        class="small-tag tag-conocimiento"
                      >
                        +{{clase.conocimiento}}
                      </div>
                      <div
                        [hidden]="clase.creatividad==0"
                        class="small-tag tag-creatividad"
                      >
                        +{{clase.creatividad}}
                      </div>
                      <div
                        [hidden]="clase.destreza==0"
                        class="small-tag tag-destreza"
                      >
                        +{{clase.destreza}}
                      </div>
                      <div
                        [hidden]="clase.bienestar==0"
                        class="small-tag tag-bienestar"
                      >
                        +{{clase.bienestar}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>
            </div>
            <div (click)='irADetalle("clases")' class="ver-todo-btn">
              <p>Ver todas mis clases</p>
            </div>
          </div>
          <div
            class="no-event-class"
            [hidden]="nivelesS.participaciones.clases.length!=0"
          >
            <p>
              Todavía no has asistido <br />
              a una clase.
            </p>
          </div>
          <!-- ULTIMOS EVENTOS -->
          <div class="ultimos-eventos-container">
            <h2 class="cat-profile cat-profile-events">Mis ultimos eventos</h2>
            <div
              [hidden]="nivelesS.participaciones.eventos.length==0"
              class="clases-container"
            >
              <div
                *ngFor="let evento of (nivelesS.participaciones.eventos? nivelesS.participaciones.eventos.slice(0,3):[])"
                class="clase"
              >
                <div class="img-info-container">
                  <div class="img-container-event">
                    <ion-img [src]="evento.imagen"></ion-img>
                  </div>
                  <div class="class-info-container">
                    <h5>{{evento.titulo}}</h5>
                    <p>{{evento.fecha}}</p>
                    <div class="tags-container">
                      <div
                        [hidden]="evento.conocimiento==0"
                        class="small-tag tag-conocimiento"
                      >
                        +{{evento.conocimiento}}
                      </div>
                      <div
                        [hidden]="evento.creatividad==0"
                        class="small-tag tag-creatividad"
                      >
                        +{{evento.creatividad}}
                      </div>
                      <div
                        [hidden]="evento.destreza==0"
                        class="small-tag tag-destreza"
                      >
                        +{{evento.destreza}}
                      </div>
                      <div
                        [hidden]="evento.bienestar==0"
                        class="small-tag tag-bienestar"
                      >
                        +{{evento.bienestar}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </div>
              <div (click)='irADetalle("eventos")' class="ver-todo-btn">
                <p>Ver todos mis eventos</p>
              </div>
            </div>
            <div
              class="no-event-class"
              [hidden]="nivelesS.participaciones.eventos.length!=0"
            >
              <p>
                Todavía no has asistido <br />
                a un evento.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
