<ion-content color="primary">
  <div class="clases-cursos-top-container">
    <div class="icon-title">
      <ion-img src="../../assets/icons/title-cursos.svg" alt=""></ion-img>
      <h2>Cursos</h2>
    </div>
    <p>Aprendé de una manera divertida, organizada y ganá puntos</p>
  </div>
  <div class="card-container">
    <!-- <div class="filtro">
      <p>2 filtrar</p>
    </div> -->
    <articulos-carrousel-taller
      *ngIf="talleresService.talleresEnCurso?.length!==0"
      (tallerDetalle)="verDetalleTaller($event)"
      [data]="talleresService.talleresEnCurso"
    ></articulos-carrousel-taller>

    <div class="main-container">
      <div
        *ngFor="let t of talleresService.talleresData; let i = index"
        class="categoria-taller"
      >
        <h2
          class="tag tag-creatividad"
          *ngIf="t.nombreCategoria!=talleresService.talleresData[i-1]?.nombreCategoria"
        >
          {{t.nombreCategoria}}
        </h2>
        <Taller
          (tallerDetalle)="verDetalleTaller($event)"
          [taller]="t"
        ></Taller>
      </div>
    </div>
    <error-conexion
      (reintentar)="cargarTalleres()"
      [hidden]="!talleresService.errorConexion"
    ></error-conexion>
  </div>
</ion-content>
