<ion-content color="primary">
  <div class="page-container">
    <div>
      <div class="title-subtitle-avatar">
        <h2>Creá tu avatar</h2>
        <p>¡Liberá tu lado creativo!</p>
      </div>

      <!-- avatar -->
      <div class="avatar-container">
        <avatar
          *ngIf="avatarService.mostrarAvatar"
          width="148px"
          height="156px"
          [options]="avatarService.avatar"
        ></avatar>
        <div class="btn-random-container" (click)="getRandom()">
          <p class="btn-random">Aleatorio</p>
          <ion-icon
            class="random"
            src="../../../assets/icons/randomize.svg"
            alt=""
          ></ion-icon>
        </div>
      </div>
    </div>

    <!-- customization options -->
    <div *ngIf="avatarService.mostrarAvatar" class="card-container-avatar">
      <!-- <div class="opciones-container main-container">
        <h3>Opciones</h3>
      </div> -->
      <div class="list-container">
        <form [formGroup]="avatarForm">
          <ion-item lines="none">
            <ion-label>Pelo o sombrero</ion-label>
            <ion-select formControlName="top">
              <ion-select-option *ngFor="let option of tops" [value]="option"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item
            *ngIf="avatarService.avatar.top !== topsEnum.EYEPATCH"
            lines="none"
          >
            <ion-label>Accesorios</ion-label>
            <ion-select formControlName="accessories">
              <ion-select-option
                *ngFor="let option of accessories"
                [value]="option"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showHairColour()" lines="none">
            <ion-label>Color de pelo</ion-label>
            <ion-select formControlName="hairColor">
              <ion-select-option
                *ngFor="let option of hairColor"
                [value]="option"
                >{{option}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="showHatColour()" lines="none">
            <ion-label>Color del sombrero</ion-label>
            <ion-select formControlName="hatColor">
              <ion-select *ngFor="let option of hatColor">
                <ion-select-option [value]="option"
                  >{{ option }}</ion-select-option
                >
              </ion-select>
            </ion-select>
          </ion-item>

          <ion-item
            *ngIf="avatarService.avatar.top !== topsEnum.HIJAB"
            lines="none"
          >
            <ion-label>Vello facial</ion-label>
            <ion-select formControlName="facialHair">
              <ion-select-option
                *ngFor="let option of facialHair"
                [value]="option"
                >{{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item
            *ngIf="avatarService.avatar.top !== topsEnum.HIJAB"
            lines="none"
          >
            <ion-label>Color vello facial</ion-label>
            <ion-select formControlName="facialHairColor">
              <ion-select-option
                *ngFor="let option of facialHairColor"
                [value]="option"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Ropa</ion-label>
            <ion-select formControlName="clothes">
              <ion-select-option [value]="option" *ngFor="let option of clothe"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="showColourFabric()" lines="none">
            <ion-label>Color de la ropa</ion-label>
            <ion-select formControlName="clothColor">
              <ion-select-option
                [value]="option"
                *ngFor="let option of clothColor"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item
            *ngIf="avatarService.avatar.clothes === clothesEnum.GRAPHIC_SHIRT"
            lines="none"
          >
            <ion-label>Estampado</ion-label>
            <ion-select formControlName="graphic">
              <ion-select-option [value]="option" *ngFor="let option of graphic"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Ojos</ion-label>
            <ion-select formControlName="eyes">
              <ion-select-option [value]="option" *ngFor="let option of eyes"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Cejas</ion-label>
            <ion-select formControlName="eyebrow">
              <ion-select-option [value]="option" *ngFor="let option of eyebrow"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Boca</ion-label>
            <ion-select formControlName="mouth">
              <ion-select-option [value]="option" *ngFor="let option of mouth"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Piel</ion-label>
            <ion-select formControlName="skin">
              <ion-select-option [value]="option" *ngFor="let option of skin"
                >{{ option }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </form>
      </div>
      <div class="button-container">
        <ion-button (click)="presentAlert()">Continuar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
