
.card-container-avatar {
  position:fixed;
  height:40vh;
  width:100vw;
  left:0;
  bottom:0;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding:1rem 0.5rem;
  background-color:white;
  overflow-y:auto;
  padding-bottom: 80px;
}

.page-container {
  margin-top: 64px;

  .title-subtitle-avatar {
    text-align: center;
    
    h2 {
        margin-top: 64px;
        color: #FFFF;
    }

    p {
        margin-top: 8px;
        margin-bottom: 12px;
        color: #FFFF;
        font-weight: 400;
    }
  }



  .avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    



    .btn-random {
      font-family: 'Press Start 2P', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: var(--ion-color-white);

    }

    .btn-random:active {
      color: var(--ion-color-lightest-gray);
    }
  }

  .list-container {
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .opciones-container {
    margin-bottom: 32px;
    text-align: center;
  }
}

ion-label {
  font-weight: 500;
  font-size: 16px !important;
  color: var(--ion-color-offblack)!important;
}

ion-select {
  font-family: 'Poppins', sans-serif;
  color: var(--ion-color-gray);
  font-size: 16px !important;
}

.randomize-icon {
  font-size: 16px;
}

.btn-random-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;

  padding: 8px 16px;
  background: #008CE8;
  border-radius: 6px;

  p {
    margin-right: 12px;
  }
}

.btn-random-container:active {
  background-color: #0990EA;
}