.back-complete-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  .btn {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }

  .btn-completar {
    color: #FFFF;
    background-color: var(--ion-color-primary);
    font-weight: 600;
    border: 2px solid var(--ion-color-primary);
  }

  .btn-completed {
    border: 2px solid var(--ion-color-success);
    font-weight: 500;
    color: var(--ion-color-success);
    background-color: #FFFF;
  }
}

.back-arrow-container-video {
  display: flex;
  align-items: center;

  .back-arrow-icon {
    height: 28px;
    width: 28px;
  }

  p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--ion-color-primary);
    margin-left: 4px;
  }
}

.divider {
  margin-bottom: 28px;
}

.title {
  margin-bottom: 16px;
}

.notes {
  color: var(--ion-color-medium-gray);
}
