<ion-content>
  <iframe
    #videoIframe
    width="100%"
    height="35%"
    [src]="safeURL"
    frameborder="0"
    allowfullscreen
    controls="0"
  ></iframe>

  <div class="main-container">
    <div class="back-complete-btn">
      <div class="back-arrow-container-video" (click)="volver()">
        <ion-icon
          src="../../assets/icons/backArrow.svg"
          alt="back-arrow"
          class="back-arrow-icon"
        ></ion-icon>
        <p>Volver</p>
      </div>
      <div class="btn-container">
        <button
          class="btn btn-completar"
          (click)="marcarVideoVisto ()"
          *ngIf="this.video.visto == 0"
        >
          Completar video
        </button>
        <button class="btn btn-completed" *ngIf="this.video.visto == 1">
          Visto
        </button>
      </div>
    </div>
    <div class="divider"></div>
    <h4 class="title">Notas del video</h4>
    <div [innerHTML]="video.notasDelVideo" class="notes"></div>
  </div>
  <mission-modal
    [hidden]="ocultarModal"
    (ocultarModal)="ocultarModalFn()"
    modalText="¡Curso completo!"
    [puntos]="puntos"
    srcIcon="../../../assets/icons/icono-modal-curso-completo.svg"
  ></mission-modal>
  <!-- <div [hidden]="ocultarModal" class="success-modal">
    <div class="modal-info">
      <ion-icon
        class="modal-icon"
        src="../../../assets/icons/icono-modal-curso-completo.svg"
        alt=""
      ></ion-icon>
      <h4 class="modal-title">¡Curso completo!</h4>
      <p class="modal-text">Has terminado el curso</p>
    </div>
    <div class="button-container">
      <ion-button (click)="ocultarModalFn()" class="button"
        >¡Entendido!</ion-button
      >
    </div>
  </div> -->
</ion-content>
