.mission {
  min-width: inherit;
  max-width: inherit;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  margin-bottom: 24px;

  .mission-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 16px 0 16px;

    .mission-target-icon {
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }

    .mission-type-text {
      text-transform: uppercase;
      font-family: "Press Start 2P", sans-serif;
      font-size: 10px;
      letter-spacing: 0.08em;
      color: var(--ion-color-primary);
    }
  }

  .mission-content {
    margin-top: 12px;
    padding: 0 16px 0 16px;

    .objective-reward {
      .reward-text {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 500;
        color: var(--ion-color-light-gray);
      }

      .mission-objective-completed {
        color: var(--ion-color-primary);
      }
    }

    .points-progress {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 24px;

      .points-container {
        display: flex;
        flex-wrap: wrap;
      }

      .progress-component {
        display: flex;
        align-items: flex-end;

        .progress-component-text {
          margin-top: 4px;
          margin-right: 8px;
          font-size: 14px;
          font-weight: 500;
          color: var(--ion-color-light-gray);
        }

        .progress-component-text-completed {
          color: var(--ion-color-primary);
          font-weight: 600;
        }

        .progress-component-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .mission-time-remaining {
    padding: 8px 8px 8px 16px;
    margin-top: 16px;
    background-color: #fbfbfb;
    border-radius: 0px 0px 12px 12px;

    .mission-time-remaining-text {
      font-size: 14px;
      font-weight: 600;
      color: var(--ion-color-light-gray);
    }
  }
}
