<div class="mission elevation-2">
  <div class="mission-type">
    <ion-img
      src="../../assets/icons/mission-target-icon.svg"
      alt="mission target icon"
      class="mission-target-icon"
    ></ion-img>
    <p class="mission-type-text">{{ mision.nombreTipoMision }}</p>
    <!-- este p cambia dependiendo si es mision de clase, de evento, de curso o de trivia -->
  </div>
  <div class="mission-content">
    <div class="objective-reward">
      <h5
        class="mission-objective"
        [ngClass]="{
          'mission-objective-completed': mision.metaObjetivo == mision.contador
        }"
      >
        {{ mision.objetivo }}
      </h5>
      <!-- la clase mission-objective-completed se aplica cuando se completa la mision -->
      <p class="reward-text">
        {{ mision.recompensa }}
      </p>
      <!-- este p se esconde dependiendo de si hay souvenir o no -->
    </div>
    <div class="points-progress">
      <div class="points-container">
        <div
          [hidden]="mision.conocimiento == 0"
          class="small-tag tag-conocimiento"
        >
          +{{ mision.conocimiento }}
        </div>
        <div [hidden]="mision.destreza == 0" class="small-tag tag-destreza">
          +{{ mision.destreza }}
        </div>
        <div [hidden]="mision.bienestar == 0" class="small-tag tag-bienestar">
          +{{ mision.bienestar }}
        </div>
        <div
          [hidden]="mision.creatividad == 0"
          class="small-tag tag-creatividad"
        >
          +{{ mision.creatividad }}
        </div>
      </div>
      <div class="progress-component">
        <p
          class="progress-component-text"
          [ngClass]="{
            'progress-component-text-completed':
              mision.contador == mision.metaObjetivo
          }"
        >
          {{ mision.contador }}/{{ mision.metaObjetivo }}
        </p>
        <ion-img
          [src]="icon"
          alt="mission target icon"
          class="progress-component-icon"
        ></ion-img>
        <!-- el icono cambia de 'mission-unchecked.svg' a 'mission-checked.svg' cuando se completa la mision -->
      </div>
    </div>
  </div>
  <div class="mission-time-remaining">
    <p
      [hidden]="mision.contador == mision.metaObjetivo"
      class="mission-time-remaining-text"
    >
      {{ mision.fechaHasta }} restantes
    </p>
    <p
      [hidden]="mision.contador != mision.metaObjetivo"
      class="mission-time-remaining-text"
    >
      Mision completada
    </p>
    <!-- El texto deberia cambiar a "Mision completada" una vez que se complete la mision, y las misiones completadas van al fondo de la lista -->
  </div>
</div>
