.top-page-container {
  h3 {
    margin-top: 28px;
  }

  p {
    margin-top: 8px;
    color: var(--ion-color-medium-gray);
  }
}

.article {
  margin-bottom: 48px;
}

.img-container {
  margin-top: 32px;
  margin-bottom: 40px;
  height: 188px;

  ion-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.video-list-title {
  margin-bottom: 16px;
}

.divider {
  margin-bottom: 28px;
}

.course-video {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 28px;

  ion-icon {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .thumbnail-info {
    display: flex;

    .thumbnail-container {
      flex-grow: 0;
      flex-shrink: 0;
      height: 72px;
      width: 72px;
      margin-right: 12px;
      border-radius: 6px !important;
      overflow: hidden;
      align-self: flex-start;
    }
    ion-img {
      height: 100%;
      width: 100% !important;
      object-fit: cover;
    }

    .video-info {
      margin-top: 4px;
      p {
        color: var(--ion-color-gray);
        font-size: 14px;
        margin-top: 4px;
      }
    }
  }

  ion-icon {
    margin-top: 4px;
    margin-left: 8px;
  }
}

.watched {
  color: var(--ion-color-primary);
}

.tag-container {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.video-points {
  margin-top: 80px;
}
