<ion-content>
  <div class="back-arrow-container main-container" (click)="volver()">
    <ion-icon
      src="../../assets/icons/backArrow.svg"
      alt="back-arrow"
      class="back-arrow-icon"
    ></ion-icon>
    <p>Volver</p>
  </div>
  <div class="main-container top-page-container">
    <div class="divider"></div>
    <h3>{{taller.titulo}}</h3>
    <!-- <p class="subtitle-regular">
      En esta serie de videos vamos a aprender a crear canciones, melodías y
      analizaremos artistas reconocidos.
    </p> -->
  </div>
  <div class="img-container">
    <ion-img src="{{taller.imagen}}" alt=""></ion-img>
  </div>
  <div class="main-container">
    <h4 class="video-list-title">Videos</h4>
    <div class="divider"></div>
    <!-- miniratura video -->
    <div class="video-list-container">
      <div
        class="course-video"
        *ngFor="let video of taller.videos; let i = index"
        (click)="irDetalleVideo(video)"
      >
        <div class="thumbnail-info">
          <div class="thumbnail-container">
            <ion-img [src]="video.thumbnail" alt=""></ion-img>
          </div>
          <div class="video-info">
            <h5 [ngClass]="{'watched' : video.visto ==1}" class="video-title">
              {{video.tituloVideo}}
            </h5>
            <p class="duration">Clase {{i+1}}</p>
          </div>
        </div>
        <ion-icon
          [hidden]="video.visto==0"
          class="checkmark"
          src="../../assets/icons/curso-watched.svg"
          alt=""
        ></ion-icon>
      </div>

      <div class="puntos article">
        <h4 class="video-points">
          Puntos <span class="text-description">― POR VIDEO</span>
        </h4>
        <div class="tag-container">
          <span
            class="tag tag-bienestar"
            [hidden]="taller.videos[0].bienestar==0"
            >+{{taller.videos[0].bienestar}} bienestar</span
          >
          <span
            class="tag tag-conocimiento"
            [hidden]="taller.videos[0].conocimiento==0"
            >+{{taller.videos[0].conocimiento}} conocimiento</span
          >
          <span class="tag tag-destreza" [hidden]="taller.videos[0].destreza==0"
            >+{{taller.videos[0].destreza}} destreza</span
          >
          <span
            class="tag tag-creatividad"
            [hidden]="taller.videos[0].creatividad==0"
            >+{{taller.videos[0].creatividad}} creatividad</span
          >
        </div>
      </div>

      <!-- <ion-icon *ngIf="video.visto==1" name="checkmark-outline"></ion-icon> -->
    </div>
  </div>
</ion-content>

<!-- <div class="barraSuperior" (click)="volver()">&#60; volver</div>
<div class="container">
  <h1>{{taller.titulo}}</h1>
  <p>{{taller.texto}}</p>
  <ion-img src="{{taller.imagen}}" alt="alt" />
  <h2>Videos del Taller</h2>
  <div
    class="videosDelTaller"
    *ngFor="let video of taller.videos"
    (click)="irDetalleVideo(video)"
  >
    <ion-img [src]="video.thumbnail" width="64px" alt="" />
    <h4>{{video.tituloVideo}}</h4>
    <ion-icon *ngIf="video.visto==1" name="checkmark-outline"></ion-icon>
  </div>
</div> -->
