<ion-content>
  <div class="main-container">
    <div class="back-arrow-container" (click)="volver()">
      <ion-img
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
      ></ion-img>
      <p>Volver</p>
    </div>
    <div class="divider"></div>
    <div class="qr-container">
      <h3>Escanear QR</h3>
      <p>Apuntá la cámara hacia el código QR para poder escanearlo.</p>
      <div class="button-container">
        <ion-button center (click)="scan()">Escanear QR</ion-button>
      </div>
    </div>
    <div class="divider divider-codigo"></div>
    <div class="codigo-container">
      <h4>Ingresá el código manualmente</h4>
      <p>
        En caso de no poder utilizar el escáner QR, podés ingresar el código
        alfanumérico.
      </p>
      <div class="form-alfanumerico">
        <div class="form-container">
          <div class="form">
            <input
              id="codigo"
              placeholder="ej: F51TX"
              type="text"
              login
              class="input-box"
              [(ngModel)]="codigo"
            />
          </div>
        </div>
        <div class="outline-btn-container">
          <button (click)="enviarCodigo()" class="outline-btn">
            Ingresar código
          </button>
        </div>
      </div>
    </div>
  </div>
  <mission-modal
    [hidden]="ocultarModal"
    (ocultarModal)="ocultarModalFn()"
    [modalText]="modalText"
    [puntos]="puntos"
  ></mission-modal>
</ion-content>
