ion-modal {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}
.back-arrow-container {
  margin-top: 24px;
  display: flex;
  align-items: center;

  p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--ion-color-primary);
    margin-left: 4px;
  }
}

.qr-container {
  margin-top: 28px;

  h3 {
    margin-bottom: 16px;
  }
  p {
    color: var(--ion-color-medium-gray);
    margin-bottom: 40px;
  }
}

.divider-codigo {
  margin-top: 28px;
  margin-bottom: 28px;
}

.codigo-container {
  h4 {
    margin-bottom: 16px;
  }

  p {
    color: var(--ion-color-medium-gray);
    margin-bottom: 16px;
  }
}

.form-alfanumerico {
  margin-top: 40px;
  margin-bottom: 64px;

  input {
    margin-bottom: 24px;
  }
}
