h2,
h4,
p {
  color: var(--ion-color-white);
}

.user-container {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;

  .avatar-change {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    margin-right: 16px;
    ion-img {
      width: 104px;
      height: 110px;
    }
    p {
      margin-top: 8px;
      font-size: 12px;
      font-weight: 600;
    }
  }
  // .avatar-change > svg{

  // }
  .user-info {
    margin-top: 16px;
    h4 {
      max-width: 180px;
    }
    p {
      font-size: 10px;
    }
  }
}
