<div class="user-container">
  <div *ngIf="avatarService.mostrarAvatar" class="avatar-change">
    <avatar
      width="104px"
      height="110px"
      [options]="avatarService.avatar"
    ></avatar>
    <div (click)="cambiarAvatar()"><p>cambiar</p></div>
  </div>
  <div class="user-info">
    <h4>{{ userData.nickname }}</h4>
    <p class="lvl-chip">NIVEL {{ nivelesS.nivelGeneral }}</p>
  </div>
</div>
