// ion-content {
//   --offset-bottom: auto!important;
//   --overflow: hidden;
//   overflow: auto;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }
// ion-modal {
//   --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
// }
ion-content {
  --background: rgb(50, 103, 115);
}

.back-arrow-container {
  display: flex;
  align-items: center;
  margin-top: 44px;

  p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--ion-color-white);
    margin-left: 4px;
  }
}

.trivia-btn {
  font-family: "Press Start 2P", sans-serif;
  height: 56px;
  width: 100%;
  max-width: 272px;
  border-radius: 4px;
  background-color: var(--ion-color-primary);
  color: #fff;
  outline: none;
  position: relative;
}

.trivia-btn:active {
  top: 1px;
  background-color: #299be5;
}

.trivia-container {
  // background-image: url(../../assets/images/trivia/trivia-1.webp);
  background-color: #818181;
  background-blend-mode: multiply;
  z-index: 0;
  background-position: center;
  min-height: 100vh;
  background-size: cover;
  text-align: center;
  overflow: scroll;

  .pantalla-inicial-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-container {
      .trivia-sign-container {
        display: flex;
        justify-content: center;
        margin-top: 32px;

        .trivia-sign {
          font-family: "Press Start 2P", sans-serif;
          font-size: 40px;
          font-weight: 400;
          color: var(--ion-color-primary);
          padding: 12px;
          background: rgba(66, 180, 255, 0.3);
          border-radius: 6px;
          text-transform: uppercase;
          width: fit-content;
        }
      }

      .tematica-container {
        margin-top: 12px;

        .tematica-title {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 4px;
          color: white;
        }

        .tematica-subtitle {
          text-align: center;
          color: #3bdabd;
          margin-top: 4px;
          font-weight: 600;
          width: 272px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .bottom-container {
      margin-bottom: 64px;

      .trivia-questions-progress {
        margin-top: 16px;
        color: white;
      }
    }
  }
}

.timer-header {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .trivia-timer {
    font-size: 48px;
    color: var(--ion-color-primary);
    font-weight: 700;
  }

  .trivia-pregunta {
    margin-top: 8px;
    width: 100%;
    max-width: 272px;
    text-align: center;

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #ffff;
      line-height: 1.3;
    }
  }
}

.trivia-lista-respuestas {
  margin-top: 40px;
  margin-bottom: 40px;

  .trivia-respuesta-container {
    margin-top: 24px;
  }
}

.trivia-btn-respuestas-container {
  margin-top: 24px;
  margin-bottom: 64px;
}

.trivia-resultados-container {
  margin-top: 40px;

  .info-container {
    margin-bottom: 64px;

    h2 {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: var(--ion-color-primary);
    }

    p {
      font-family: "Press Start 2P", sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #ffff;
      margin-top: 16px;
    }
  }
}

.proxima-trivia {
  font-size: 16px;
  font-weight: 600;
  color: var(--ion-color-lightest-gray);
  margin-bottom: 64px;
}

.respuesta-trivia {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--ion-color-offblack);
  background-color: var(--ion-color-white);
  border-radius: 6px;
  padding: 16px;
  width: 100%;
  max-width: 280px;
}

.respuestaAnterior {
  background-color: var(--ion-color-danger);
  color: #ffff;
}

.respuestaCorrecta {
  background-color: var(--ion-color-success);
  color: #ffff;
}

.trivia-questions-btn-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
