<ion-content color="{primary}">
  <div *ngIf="errorConexion">
    <div class="back-arrow-container main-container" (click)="volver()">
      <!-- <ion-img src="../../assets/icons/backArrow.svg" alt="back-arrow"></ion-img> -->
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.135 22.1666C15.9608 22.1672 15.7885 22.1287 15.6311 22.054C15.4736 21.9793 15.3349 21.8703 15.225 21.7349L9.59005 14.7349C9.41845 14.5262 9.32465 14.2643 9.32465 13.9941C9.32465 13.7239 9.41845 13.462 9.59005 13.2532L15.4234 6.25325C15.6214 6.015 15.906 5.86517 16.2145 5.83672C16.523 5.80828 16.8301 5.90355 17.0684 6.10158C17.3066 6.29961 17.4565 6.58417 17.4849 6.89267C17.5133 7.20117 17.4181 7.50833 17.22 7.74658L12.005 13.9999L17.045 20.2533C17.1877 20.4245 17.2783 20.633 17.3062 20.8542C17.3341 21.0753 17.298 21.2998 17.2022 21.5011C17.1065 21.7024 16.9551 21.872 16.766 21.99C16.5769 22.1079 16.3579 22.1692 16.135 22.1666Z"
          fill="#FFFF"
        />
      </svg>

      <p>Volver</p>
    </div>
    <error-conexion (reintentar)="ionViewWillEnter()"></error-conexion>
  </div>

  <div
    *ngIf="!errorConexion"
    class="trivia-container"
    [ngStyle]="{  'background-image':'url('+imagenBackground+')' }"
  >
    <div *ngIf="ocultarModal" class="modal-component">
      <div class="content-backdrop"></div>
      <div class="success-modal">
        <div class="modal-info">
          <ion-icon
            class="modal-icon"
            src="../../../assets/icons/icon-checkmark-modal-qr.svg"
            alt=""
          ></ion-icon>
          <h4 class="modal-title">{{mensajeMisionTrivia}}</h4>
          <p class="modal-text">
            Sumaste puntos a tus<br />
            habilidades de Avatar
          </p>
          <div class="points-earned-container">
            <div
              [hidden]="puntos.conocimiento==0"
              class="small-tag tag-conocimiento"
            >
              +{{puntos.conocimiento}} CONOCIMIENTO
            </div>
            <div [hidden]="puntos.bienestar==0" class="small-tag tag-bienestar">
              +{{puntos.bienestar}} BIENESTAR
            </div>
            <div [hidden]="puntos.destreza==0" class="small-tag tag-destreza">
              +{{puntos.destreza}} DESTREZA
            </div>
            <div
              [hidden]="puntos.creatividad==0"
              class="small-tag tag-creatividad"
            >
              +{{puntos.creatividad}} CREATIVIDAD
            </div>
          </div>
        </div>
        <div class="button-container">
          <ion-button (click)="ocultarModalFn()" class="button"
            >¡Entendido!</ion-button
          >
        </div>
      </div>
    </div>
    <div *ngIf="mostrarTrivia">
      <div *ngIf="comenzar" class="trivia-questions-btn-container">
        <div>
          <!-- encabezado pregunta y timer -->
          <div class="timer-header">
            <h2 class="trivia-timer">{{ timer }}</h2>
            <div class="trivia-pregunta">
              <div *ngIf="!preguntaRespondida">
                <h3>{{ pregunta }}</h3>
              </div>
              <div *ngIf="preguntaRespondida">
                <h3>{{ preguntaAnterior }}</h3>
              </div>
            </div>
          </div>

          <!-- pregunta en vivo -->
          <ng-template #continuoTrivia>
            <div class="trivia-lista-respuestas main-container">
              <div
                *ngFor="let opcion of pregunta_items"
                class="trivia-respuesta-container"
              >
                <button
                  (click)="enviarRespuesta(opcion.idTrivia_pregunta, opcion.idTrivia_opcion,opcion.idTrivia)"
                  class="respuesta-trivia"
                >
                  {{ opcion.opcion }}
                </button>
              </div>
            </div>
          </ng-template>

          <!-- pregunta ya respondida -->
          <div *ngIf="!continuar; else continuoTrivia" class="main-container">
            <div class="trivia-lista-respuestas">
              <div
                *ngFor="let opcion of respuestasAnteriores"
                class="trivia-respuesta-container"
              >
                <button [ngClass]="opcion" class="respuesta-trivia">
                  {{ opcion.opcion }}
                </button>
              </div>
            </div>
          </div>

          <!-- <div *ngIf="!continuar; else continuoTrivia">
            <ion-list *ngFor="let opcion of respuestasAnteriores">
              <ion-button block class="center" [ngClass]="opcion">
                {{ opcion.opcion }}
              </ion-button>
            </ion-list>
          </div> -->

          <!-- <div *ngIf="!continuar">
            <ion-list>
              <ion-button
                round
                class="center"
                color="secondary"
                (click)="siguientePregunta()"
              >
                <strong>Continuar</strong>
              </ion-button>
            </ion-list>
          </div> -->
        </div>
        <div *ngIf="!continuar" class="trivia-btn-respuestas-container">
          <button class="trivia-btn" (click)="siguientePregunta()">
            Continuar
          </button>
        </div>
      </div>
    </div>

    <!-- MUESTRO PUNTOS -->
    <div
      *ngIf="!comenzar || !mostrarTrivia"
      class="pantalla-inicial-container main-container"
    >
      <div class="top-container">
        <div class="back-arrow-container main-container" (click)="volver()">
          <!-- <ion-img src="../../assets/icons/backArrow.svg" alt="back-arrow"></ion-img> -->
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.135 22.1666C15.9608 22.1672 15.7885 22.1287 15.6311 22.054C15.4736 21.9793 15.3349 21.8703 15.225 21.7349L9.59005 14.7349C9.41845 14.5262 9.32465 14.2643 9.32465 13.9941C9.32465 13.7239 9.41845 13.462 9.59005 13.2532L15.4234 6.25325C15.6214 6.015 15.906 5.86517 16.2145 5.83672C16.523 5.80828 16.8301 5.90355 17.0684 6.10158C17.3066 6.29961 17.4565 6.58417 17.4849 6.89267C17.5133 7.20117 17.4181 7.50833 17.22 7.74658L12.005 13.9999L17.045 20.2533C17.1877 20.4245 17.2783 20.633 17.3062 20.8542C17.3341 21.0753 17.298 21.2998 17.2022 21.5011C17.1065 21.7024 16.9551 21.872 16.766 21.99C16.5769 22.1079 16.3579 22.1692 16.135 22.1666Z"
              fill="#FFFF"
            />
          </svg>

          <p>Volver</p>
        </div>
        <div class="trivia-sign-container">
          <h2 class="trivia-sign">Trivia</h2>
        </div>
        <div class="tematica-container">
          <!-- <h3 class="tematica-title">TEMÁTICA</h3> -->
          <h4
            *ngIf="tematicaTrivia!=null || tematicaTrivia!= undefined"
            class="tematica-subtitle"
          >
            {{tematicaTrivia}}
          </h4>
        </div>
        <div class="trivia-resultados-container" *ngIf="mostrarResultados==1">
          <div class="info-container">
            <h2>Historial</h2>
            <p>{{correctas}}<br /></p>
          </div>
          <div class="info-container">
            <h2>Puntos</h2>
            <p>+{{total}}</p>
          </div>
        </div>
      </div>

      <div class="bottom-container" *ngIf="mostrarTrivia!=0">
        <button (click)="comenzarTrivia()" class="trivia-btn">Jugar</button>
        <h5
          class="trivia-questions-progress"
          ion-text
          text-center
          [innerHTML]="puntos"
        ></h5>
      </div>
      <div class="proxima-trivia-container" *ngIf="mostrarTrivia==0">
        <p class="proxima-trivia">{{mensaje}}</p>
      </div>
    </div>
  </div>
</ion-content>
