-<ion-slides [options]="slideOpts">
  <ion-slide
    (click)="verDetalleTaller(t.idTaller)"
    class="mediaSlide"
    *ngFor="let t of talleres"
  >
    <h1>{{ t.titulo }}</h1>
  </ion-slide>
</ion-slides>
