.login-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    ion-img {
      width: 108px;
      height: 80px;
      margin-top: 64px;
      margin-bottom: 48px;
    }
  }
}
