<ion-content>
  <div class="login-container main-container">
    <div class="logo-input">
      <ion-img src="../../assets/icons/logo.svg" alt="app logo"></ion-img>
      <div class="form-container">
        <div class="form">
          <label for="login" class="input-label">Ingrese su DNI</label>
          <input
            id="login"
            placeholder="ej: 20300500"
            type="number"
            login
            [(ngModel)]="numeroDNI"
            class="input-box"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="button-container main-container">
    <ion-button (click)="verificarUsuario()" class="button"
      >Iniciar sesión</ion-button
    >
  </div>
  <div [hidden]="esconderBoton" class="button-container main-container">
    <ion-button (click)="ingresarComoInvitado()" class="button"
      >Ingresar como invitado</ion-button
    >
  </div>
</ion-content>
