<ion-content>
  <div class="main-container">
    <div class="back-arrow-container" (click)="volver()">
      <ion-img
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
      ></ion-img>
      <p>Volver</p>
    </div>
    <div class="divider"></div>
    <div class="encuesta-container">
      <div class="title-sub">
        <h3>{{encuesta.titulo}}</h3>
      </div>
    </div>
  </div>
  <iframe
    [src]="safeURL"
    width="100%"
    height="600px"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Loading…</iframe
  >
</ion-content>
