ion-tab-bar {
  padding: 12px 0px 28px 0px;
  border: none;
  box-shadow: 0px -1px 0px rgba(38, 38, 38, 0.08);
  background: #fcfcfc;
  font-family: "Poppins", sans-serif;

  ion-label {
    font-size: 12px;
    font-weight: 500;
    color: var(--ion-color-medium-gray);
    margin-top: 4px;
  }

  ion-tab-button {
    background: #fcfcfc;
    width: fit-content;
  }
}

.selected {
  svg > path {
    fill: var(--ion-color-primary);
  }

  svg > g > path {
    fill: var(--ion-color-primary);
  }
  ion-label {
    color: var(--ion-color-primary);
    font-weight: 700;
  }
}
