<!-- <ion-split-pane contentId="main"> -->
<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      mode="ios"
      [ngClass]="{'selected':tabSeleccionada=='novedades'}"
      tab="novedades"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.614 2.21021C12.4385 2.07365 12.2224 1.99951 12 1.99951C11.7776 1.99951 11.5615 2.07365 11.386 2.21021L3.15799 8.6102C2.79715 8.8909 2.50524 9.25035 2.30454 9.6611C2.10384 10.0719 1.99968 10.523 1.99999 10.9802V20.0002C1.99999 20.5306 2.21071 21.0393 2.58578 21.4144C2.96085 21.7895 3.46956 22.0002 3.99999 22.0002H7.99999C8.53043 22.0002 9.03913 21.7895 9.41421 21.4144C9.78928 21.0393 9.99999 20.5306 9.99999 20.0002V14.0002H14V20.0002C14 20.5306 14.2107 21.0393 14.5858 21.4144C14.9609 21.7895 15.4696 22.0002 16 22.0002H20C20.5304 22.0002 21.0391 21.7895 21.4142 21.4144C21.7893 21.0393 22 20.5306 22 20.0002V10.9802C22.0001 10.5229 21.8956 10.0716 21.6946 9.66082C21.4935 9.25006 21.2012 8.8907 20.84 8.6102L12.614 2.21021V2.21021Z"
          fill="#C2C2C2"
        />
      </svg>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button
      mode="ios"
      [ngClass]="{'selected':tabSeleccionada=='clases'}"
      tab="clases"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M16.6335 8.875V18.475C16.633 18.8992 16.4643 19.3059 16.1643 19.6058C15.8644 19.9058 15.4577 20.0745 15.0335 20.075H3.8335C2.773 20.0738 1.7563 19.652 1.00641 18.9021C0.256532 18.1522 -0.165286 17.1355 -0.166504 16.075V6.475C-0.166027 6.0508 0.00269642 5.64411 0.302651 5.34416C0.602606 5.0442 1.0093 4.87548 1.4335 4.875H12.6335C13.694 4.87622 14.7107 5.29804 15.4606 6.04792C16.2105 6.7978 16.6323 7.81451 16.6335 8.875ZM23.4351 6.9831C23.3139 6.91278 23.1763 6.87552 23.0362 6.87505C22.8961 6.87457 22.7583 6.9109 22.6366 6.9804L18.6366 9.2661C18.5141 9.33607 18.4124 9.43717 18.3416 9.55915C18.2708 9.68114 18.2335 9.81967 18.2335 9.9607V14.9893C18.2335 15.1303 18.2708 15.2689 18.3416 15.3908C18.4124 15.5128 18.5141 15.6139 18.6366 15.6839L22.6366 17.9696C22.7583 18.0391 22.8961 18.0755 23.0362 18.075C23.1763 18.0745 23.3138 18.0373 23.435 17.9669C23.5562 17.8966 23.6568 17.7957 23.7268 17.6742C23.7967 17.5528 23.8335 17.4151 23.8335 17.275V7.675C23.8335 7.53488 23.7967 7.39721 23.7268 7.27578C23.6569 7.15435 23.5563 7.05342 23.4351 6.9831Z"
            fill="#C2C2C2"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <ion-label>Clases</ion-label>
    </ion-tab-button>

    <ion-tab-button
      mode="ios"
      [ngClass]="{'selected':tabSeleccionada=='roadtrips'}"
      tab="roadtrips"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.4133 6H2.58667C2.25427 6 1.93548 6.13205 1.70043 6.36709C1.46539 6.60214 1.33334 6.92093 1.33334 7.25333V19.4133C1.33334 19.7457 1.46539 20.0645 1.70043 20.2996C1.93548 20.5346 2.25427 20.6667 2.58667 20.6667H21.4133C21.7457 20.6667 22.0645 20.5346 22.2996 20.2996C22.5346 20.0645 22.6667 19.7457 22.6667 19.4133V7.25333C22.6667 6.92093 22.5346 6.60214 22.2996 6.36709C22.0645 6.13205 21.7457 6 21.4133 6V6ZM16.12 13.8867L9.60667 16.7933C9.50526 16.8389 9.39404 16.8584 9.28316 16.8501C9.17228 16.8417 9.06526 16.8057 8.97183 16.7454C8.8784 16.6851 8.80154 16.6024 8.74825 16.5048C8.69495 16.4072 8.66691 16.2979 8.66667 16.1867V10.3733C8.66691 10.2621 8.69495 10.1528 8.74825 10.0552C8.80154 9.95759 8.8784 9.87488 8.97183 9.81458C9.06526 9.75429 9.17228 9.71832 9.28316 9.70995C9.39404 9.70158 9.50526 9.72108 9.60667 9.76667L16.12 12.6667C16.2383 12.7188 16.3389 12.8043 16.4095 12.9126C16.4801 13.0209 16.5177 13.1474 16.5177 13.2767C16.5177 13.406 16.4801 13.5325 16.4095 13.6408C16.3389 13.7491 16.2383 13.8345 16.12 13.8867V13.8867Z"
          fill="#C2C2C2"
        />
        <path
          d="M20.0933 2.00016C20.0933 1.82335 20.0231 1.65378 19.898 1.52876C19.773 1.40373 19.6034 1.3335 19.4266 1.3335H4.75997C4.58316 1.3335 4.41359 1.40373 4.28857 1.52876C4.16354 1.65378 4.0933 1.82335 4.0933 2.00016V2.66683H20.0933V2.00016Z"
          fill="#C2C2C2"
        />
        <path
          d="M21.4133 4.33366C21.4133 4.15685 21.3431 3.98728 21.2181 3.86225C21.093 3.73723 20.9235 3.66699 20.7466 3.66699H3.41332C3.2365 3.66699 3.06694 3.73723 2.94191 3.86225C2.81689 3.98728 2.74665 4.15685 2.74665 4.33366V5.00033H21.4133V4.33366Z"
          fill="#C2C2C2"
        />
      </svg>

      <ion-label>Cursos</ion-label>
    </ion-tab-button>
    <ion-tab-button
      mode="ios"
      [ngClass]="{'selected':tabSeleccionada=='perfil'}"
      tab="perfil"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.4067 16.3466C19.3354 15.1859 18.0355 14.2596 16.5886 13.6261C15.1418 12.9926 13.5795 12.6655 12 12.6655C10.4205 12.6655 8.8582 12.9926 7.41137 13.6261C5.96454 14.2596 4.66457 15.1859 3.59334 16.3466C3.42795 16.5294 3.33543 16.7667 3.33334 17.0132V21.0132C3.33684 21.2761 3.44374 21.5271 3.6309 21.7117C3.81806 21.8964 4.07041 21.9999 4.33334 21.9999H19.6667C19.9319 21.9999 20.1862 21.8945 20.3738 21.707C20.5613 21.5195 20.6667 21.2651 20.6667 20.9999V16.9999C20.6614 16.7579 20.5691 16.526 20.4067 16.3466V16.3466Z"
          fill="#C2C2C2"
        />
        <path
          d="M12 11.3333C14.5773 11.3333 16.6667 9.24399 16.6667 6.66667C16.6667 4.08934 14.5773 2 12 2C9.42268 2 7.33334 4.08934 7.33334 6.66667C7.33334 9.24399 9.42268 11.3333 12 11.3333Z"
          fill="#C2C2C2"
        />
      </svg>

      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button
      mode="ios"
      [ngClass]="{'selected':tabSeleccionada=='mas'}"
      tab="mas"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2 6C2 5.73478 2.10536 5.48043 2.29289 5.29289C2.48043 5.10536 2.73478 5 3 5H21C21.2652 5 21.5196 5.10536 21.7071 5.29289C21.8946 5.48043 22 5.73478 22 6C22 6.26522 21.8946 6.51957 21.7071 6.70711C21.5196 6.89464 21.2652 7 21 7H3C2.73478 7 2.48043 6.89464 2.29289 6.70711C2.10536 6.51957 2 6.26522 2 6V6Z"
          fill="#C2C2C2"
        />
        <path
          d="M2 12.0322C2 11.767 2.10536 11.5127 2.29289 11.3251C2.48043 11.1376 2.73478 11.0322 3 11.0322H21C21.2652 11.0322 21.5196 11.1376 21.7071 11.3251C21.8946 11.5127 22 11.767 22 12.0322C22 12.2974 21.8946 12.5518 21.7071 12.7393C21.5196 12.9269 21.2652 13.0322 21 13.0322H3C2.73478 13.0322 2.48043 12.9269 2.29289 12.7393C2.10536 12.5518 2 12.2974 2 12.0322V12.0322Z"
          fill="#C2C2C2"
        />
        <path
          d="M3 17.064C2.73478 17.064 2.48043 17.1693 2.29289 17.3569C2.10536 17.5444 2 17.7987 2 18.064C2 18.3292 2.10536 18.5835 2.29289 18.7711C2.48043 18.9586 2.73478 19.064 3 19.064H21C21.2652 19.064 21.5196 18.9586 21.7071 18.7711C21.8946 18.5835 22 18.3292 22 18.064C22 17.7987 21.8946 17.5444 21.7071 17.3569C21.5196 17.1693 21.2652 17.064 21 17.064H3Z"
          fill="#C2C2C2"
        />
      </svg>

      <ion-label>Más</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button>
      <ion-icon
        name="square"
        (click)="openSideMenu()"
        tabTitle="Menu"
        tabIcon="menu"
      >
        Mas
      </ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
<!-- </ion-split-pane> -->
