<div class="miniatura-container main-container">
  <div class="img-info-container">
    <div class="img-container pae-respira">
      <ion-img [src]="clase.imagenMini"></ion-img>
    </div>
    <div class="info-container">
      <h5>{{ clase.titulo }}</h5>
      <p class="subtitle">{{ clase.horario }}</p>
    </div>
  </div>
  <div class="cta-container">
    <ion-item [hidden]="!clase.enVivo" [detail]="false" href="{{ clase.link }}">
      <p slot="end" class="subtitle-medium class-link">Ir al zoom</p>
    </ion-item>
    <div [hidden]="clase.enVivo" (click)="verDetalleClase(clase.idClase)">
      <p class="subtitle-medium class-link">Más info</p>
    </div>
  </div>
</div>
