ion-item {
  --inner-border-width: 0px 0px 0px 0px;

  --min-height: 0px;
  --padding-start: 0px;
}
.miniatura-container {
  text-align: right;
  margin-bottom: 16px;
}

.img-info-container {
  display: flex;
  align-items: flex-start;
  .img-container {
    padding: 20px;
    border-radius: 6px;
    margin-right: 12px;

    ion-img {
      height: 40px;
      width: 40px;
    }
  }

  .pae-respira {
    background: rgba(52, 185, 241, 0.18);
  }

  .rock-n-pae {
    background: rgba(255, 95, 85, 0.18);
  }

  .pinceladas {
    background: rgba(248, 131, 208, 0.18);
  }

  .vox-n-pae {
    background: rgba(255, 57, 128, 0.18);
  }

  .tai-chi {
    background: rgba(42, 127, 255, 0.18);
  }

  .cine-club {
    background: rgba(42, 255, 127, 0.18);
  }

  .yoga-cris {
    background: rgba(72, 42, 255, 0.18);
  }

  .running {
    background: rgba(90, 254, 76, 0.18);
  }

  .club-lectura {
    background: rgba(189, 200, 255, 0.18);
  }

  .play-the-music {
    background: rgba(255, 223, 142, 0.18);
  }

  .acting-pae {
    background: rgba(225, 120, 245, 0.18);
  }

  .yoga-rosana {
    background: rgba(59, 218, 189, 0.18);
  }

  .info-container {
    h5 {
      text-align: left;
      margin-bottom: 2px;
    }

    p {
      text-align: left;
    }
  }
}

.class-link {
  color: var(--ion-color-primary);
  font-weight: 600;
}
