.back-arrow-container {
  margin-top: 24px;
  display: flex;
  align-items: center;

  p {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--ion-color-primary);
    margin-left: 4px;
  }
}

.encuestas-container {
  margin-top: 28px;
  margin-bottom: 40px;

  .title-sub {
    margin-bottom: 40px;

    h3 {
      margin-bottom: 16px;
    }

    p {
      color: var(--ion-color-gray);
    }
  }

  .encuesta {
    padding: 12px 12px 16px 12px;
    border-radius: 6px;
    border-bottom: 8px solid #0df2e4;
    margin-bottom: 24px;

    p {
      margin-top: 12px;
      font-weight: 600;
      color: var(--ion-color-primary);
    }
  }
}

.no-survey-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.no-survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;

  ion-icon {
    height: 64px;
    width: 64px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 8px;
  }

  .aviso-no-survey {
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-color-light-gray);
  }
}
