<ion-content>
  <div class="main-container">
    <div class="back-arrow-container" (click)="volver()">
      <ion-img
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
      ></ion-img>
      <p>Volver</p>
    </div>
    <div class="divider"></div>
    <div class="encuestas-container">
      <div class="title-sub">
        <h3>Encuestas</h3>
        <p>¡Las encuestas nos ayudan a mejorar cada vez más los eventos!</p>
      </div>
      <div *ngIf="hayEncuestas">
        <div *ngFor="let encuesta of encuestas" class="encuesta elevation-1">
          <h5>{{encuesta.titulo}}</h5>
          <p (click)="navigate(encuesta)">Realizar encuesta</p>
        </div>
      </div>
      <div *ngIf="!hayEncuestas">
        <div class="no-survey-position">
          <div class="no-survey-container main-container">
            <ion-icon src="../../assets/icons/no-classes.svg" alt=""></ion-icon>
            <p class="aviso-no-survey">
              No hay encuestas en este<br />momento.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
