<div class="articles-cat-container">
  <h2 class="cat cat-proximos-eventos carrousel-cat">PROXIMOS EVENTOS</h2>
  <div class="articles-container">
    <div
      *ngFor="let item of data"
      (click)="verDetalleArticulo(item.idEvento)"
      class="articulo"
    >
      <div class="img-container">
        <ion-img
          class="elevation-3 img-card-thumbnail"
          [src]="item.imagen"
          alt=""
        ></ion-img>
      </div>
      <div class="tag-container">
        <div class="event-date-tag">
          <p>{{ item.fechaEvento }}</p>
        </div>
        <div
          [style]="{
            'background-color': item.colorBackground
          }"
          class="event-tag"
        >
          <p [style]="{'color': item.colorTexto}">{{ item.texto }}</p>
        </div>
      </div>
      <div class="titulo-fav">
        <h5>{{ item.titulo }}</h5>
      </div>
      <p class="subtitle text-truncate">
        {{ item.descripcion }}
      </p>
    </div>
  </div>
</div>
