.articles-cat-container {
  margin-bottom: 64px;
}

.articles-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.articles-container::-webkit-scrollbar {
  display: none;
}

.articulo:first-of-type {
  margin-left: 20px;
}

.articulo:last-of-type {
  padding-right: 16px;
}

.articulo {
  width: 236px;
  flex: 0 0 auto;
  margin-right: 32px;

  .img-container {
    height: 182px;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .titulo-fav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 4px;

    h5 {
      font-weight: 600;
    }

    ion-img {
      margin-left: 8px;
    }
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 16px;

    .video-checkmark {
      display: flex;
      align-items: flex-end;

      ion-img {
        margin-left: 8px;
      }

      p {
        color: var(--ion-color-medium-gray);
        font-weight: 600;
      }
    }
  }

  .video-count {
    color: var(--ion-color-light-gray);
  }
}


.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;

}