<ion-content color="primary">
  <div class="page-container">
    <div class="title-subtitle">
      <h2>Elegí tu nickname</h2>
      <p>¿Cuál será tu nombre?</p>
    </div>
    <div class="card-container input-btn-container">
      <div class="nickname-input-container">
        <div class="form">
          <label for="login" class="input-label">Nickname</label>
          <input
            id="login"
            placeholder="ej: Pepito"
            type="text"
            login
            [(ngModel)]="nickname"
            class="input-box"
          />
        </div>
      </div>
      <div class="btns-container">
        <div class="button-container main-container">
          <ion-button (click)="enviarNickname()" class="button"
            >Continuar</ion-button
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
