.page-container {

    .input-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nickname-input-container {
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }

    .title-subtitle {
        text-align: center;
        
        h2 {
            margin-top: 64px;
            color: #FFFF;
        }

        p {
            margin-top: 8px;
            margin-bottom: 48px;
            color: #FFFF;
            font-weight: 400;
        }
    }

    .btns-container {
        text-align: center;
        p {
            margin-top: 24px;
            color: var(--ion-color-primary);
            font-weight: 600;
        }
    }
}
