.top-page-container {
  h3 {
    margin-top: 28px;
  }

  p {
    margin-top: 8px;
    color: var(--ion-color-medium-gray);
  }
}

.article-container-content {
  margin-top: 40px;
}

.icon-title {
  display: flex;
  align-items: center;

  h4 {
    margin-left: 12px;
  }

  margin-bottom: 24px;
}

.article {
  margin-bottom: 48px;
}

.img-container {
  margin-top: 32px;
  margin-bottom: 40px;
  height: 280px;

  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.horario {
  p {
    font-weight: 500;
  }

  span {
    font-weight: 400;
  }
}

.tag-container {
  display: flex;
  flex-direction: column;
}

.iframe-container {
  min-height: 100vh;
}




