<ion-content [fullscreen]="true">
  <div>
    <div class="back-arrow-container main-container" (click)="volver()">
      <ion-icon
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
        class="back-arrow-icon"
      ></ion-icon>
      <p>Volver</p>
    </div>
    <div class="main-container top-page-container">
      <div class="divider"></div>
      <h3>{{novedad.titulo}}</h3>
      <!-- <div *ngIf="novedad.idEvento" [innerHTML]="novedad?.cuerpoEvento"></div>
      <div
        *ngIf="novedad.idArticulo"
        [innerHTML]="novedad?.cuerpoNovedad"
      ></div> -->
    </div>
    <div class="img-container">
      <ion-img
        class="article-ion-img"
        src="{{novedad.imagen}}"
        alt=""
      ></ion-img>
    </div>
    <div class="main-container article-container-content">
      <div [innerHTML]="safeURLCuerpo"></div>

      <div *ngIf="mostrarPuntos" class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-puntos.svg"
            alt="icon horario"
          ></ion-icon>
          <h4>Puntos <span class="text-description">― POR EVENTO</span></h4>
        </div>
        <div class="tag-container">
          <span class="tag tag-bienestar" [hidden]="novedad.puntos.bienestar==0"
            >+{{novedad.puntos.bienestar}} bienestar</span
          >
          <span
            class="tag tag-conocimiento"
            [hidden]="novedad.puntos.conocimiento==0"
            >+{{novedad.puntos.conocimiento}} conocimiento</span
          >
          <span class="tag tag-destreza" [hidden]="novedad.puntos.destreza==0"
            >+{{novedad.puntos.destreza}} destreza</span
          >
          <span
            class="tag tag-creatividad"
            [hidden]="novedad.puntos.creatividad==0"
            >+{{novedad.puntos.creatividad}} creatividad</span
          >
        </div>
      </div>

      <!-- <div class="about article" [innerHTML]="novedad.cuerpoNovedad"> -->
      <div *ngIf="mostrarFormulario" class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-inscripcion.svg"
            alt="icon horario"
          ></ion-icon>
          <h4>Inscripción</h4>
        </div>
        <iframe
          #encuesta
          [src]="safeURLForm"
          width="100%"
          height="800px"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          >Cargando…</iframe
        >
      </div>
    </div>
    <!-- <div
      [hidden]="novedad.comoFormarParte ==='' || novedad.comoFormarParte ===null"
    > -->
    <!-- <h2>Como formar parte</h2> -->
    <!-- <h3>{{novedad.comoFormarParte}}</h3> -->
    <!-- </div> -->
    <!-- <div [hidden]="novedad.fechaEvento ==='' || novedad.fechaEvento ===null"> -->
    <!-- <h2>Fecha del evento</h2> -->
    <!-- <h3>{{novedad.fechaEvento}}</h3> -->
  </div>
  <!-- <ion-button>Inscribirse</ion-button> -->
</ion-content>
