<atributo
  icono="../../../assets/icons/pixel-bienestar.svg"
  color="bienestar"
></atributo>
<atributo
  icono="../../../assets/icons/pixel-destreza.svg"
  color="destreza"
></atributo>
<atributo
  icono="../../../assets/icons/pixel-conocimiento.svg"
  color="conocimiento"
></atributo>
<atributo
  icono="../../../assets/icons/pixel-creatividad.svg"
  color="creatividad"
></atributo>
