<div class="articulo">
  <div class="img-container" (click)="verDetalleTaller(taller.idTaller)">
    <ion-img
      class="elevation-3 img-card-thumbnail"
      [src]="taller.imagen"
      alt=""
    ></ion-img>
  </div>
  <div class="titulo-fav">
    <h5 (click)="verDetalleTaller(taller.idTaller)">{{ taller.titulo }}</h5>
    <div class="icon-container">
      <ion-icon
        hidden="true"
        src="../../../assets/icons/card-favorited-unfilled.svg"
        alt=""
        class="favorited"
      ></ion-icon>
    </div>
  </div>
  <p
    (click)="verDetalleTaller(taller.idTaller)"
    class="subtitle description text-truncate"
  >
    {{ taller.descripcion }}
  </p>
  <div class="info-container">
    <!-- <div [hidden]="item.idTaller == null">Fecha y Autor</div> -->
    <div class="subtitle description">{{ taller.autor }}</div>
    <div class="video-checkmark">
      <p
        class="subtitle video-count"
        [ngClass]="{ completed: taller.completo }"
      >
        {{ taller.videosVistos || 0 }}/{{ taller.videos?.length }} videos
      </p>
      <ion-icon
        [hidden]="taller.completo == 1"
        class="checkmark"
        src="../../../assets/icons/curso-unwatched.svg"
        alt=""
      ></ion-icon>
      <ion-icon
        [hidden]="taller.completo == 0"
        class="checkmark"
        src="../../assets/icons/curso-watched.svg"
        alt=""
      ></ion-icon>
    </div>
  </div>
</div>

<!-- <div class="container" (click)="verDetalleTaller(taller.idTaller)">
  <h2>{{ taller.nombreCategoria }}</h2>
  <ion-img [src]="taller.imagen" alt="" />
  <div class="titulo">
    {{ taller.titulo }}
    <ion-icon name="square"></ion-icon>
  </div>
  <p>{{ taller.descripcion }}</p>
  <div>{{ taller.autor }}</div>
</div> -->
