.articulo {
  width: 100%;
  flex: 0 0 auto;
  margin-right: 32px;
  margin-bottom: 64px;

  .img-container {
    height: 182px;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .titulo-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    ion-icon {
      margin-left: 8px;
    }
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 12px;

    .video-checkmark {
      display: flex;
      align-items: flex-end;

      ion-icon {
        margin-left: 8px;
      }

      .completed {
        color: var(--ion-color-primary);
        font-weight: 600;
      }
    }
  }

  .description {
    margin-top: 8px;
  }
}
