<ion-content [fullscreen]="true">
  <div>
    <div class="back-arrow-container main-container" (click)="volver()">
      <ion-icon
        class="icon"
        src="../../assets/icons/backArrow.svg"
        alt="back-arrow"
        class="back-arrow-icon"
      ></ion-icon>
      <p>Volver</p>
    </div>
    <div class="main-container top-page-container">
      <div class="divider"></div>
      <h3>{{clase.titulo}}</h3>
      <p>{{clase.descripcion}}</p>
    </div>
    <ion-img class="article-img" src="{{clase.imagen}}" alt=""></ion-img>
    <div class="main-container article-container-content">
      <div class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-about.svg"
            alt="icon about"
          ></ion-icon>
          <h4>Información</h4>
        </div>
        <div [innerHTML]="clase.masInformacion"></div>
      </div>
      <div class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-horarios.svg"
            alt="icon horario"
          ></ion-icon>
          <h4>Horarios</h4>
        </div>
        <div *ngFor="let horario of clase.horarios">
          <p>{{horario.horario}}</p>
        </div>
      </div>
      <div class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-puntos.svg"
            alt="icon about"
          ></ion-icon>
          <h4>Puntos <span class="text-description">― POR CLASE</span></h4>
        </div>
        <div class="tag-container">
          <span class="tag tag-bienestar" [hidden]="clase.puntos.bienestar==0"
            >+{{clase.puntos.bienestar}} bienestar</span
          >
          <span
            class="tag tag-conocimiento"
            [hidden]="clase.puntos.conocimiento==0"
            >+{{clase.puntos.conocimiento}} conocimiento</span
          >
          <span class="tag tag-destreza" [hidden]="clase.puntos.destreza==0"
            >+{{clase.puntos.destreza}} destreza</span
          >
          <span
            class="tag tag-creatividad"
            [hidden]="clase.puntos.creatividad==0"
            >+{{clase.puntos.creatividad}} creatividad</span
          >
        </div>
      </div>
      <div [hidden]="clase.inscripto==1" class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-inscripcion.svg"
            alt="icon about"
          ></ion-icon>
          <div>
            <h4>Inscripción</h4>
          </div>
        </div>
        <ion-button (click)="presentAlert()">Inscribirse</ion-button>
      </div>
      <div [hidden]="clase.inscripto==0" class="info-icon-container">
        <div class="icon-title">
          <ion-icon
            class="icon"
            src="../../assets/icons/clase-inscripcion.svg"
            alt="icon about"
          ></ion-icon>
          <div>
            <h4>Inscripción</h4>
          </div>
        </div>
        <ion-button (click)="desinscribirse()">Cancelar inscripcion</ion-button>
      </div>
    </div>
    <!-- <div
      [hidden]="novedad.comoFormarParte ==='' || novedad.comoFormarParte ===null"
    > -->
    <!-- <h2>Como formar parte</h2> -->
    <!-- <h3>{{novedad.comoFormarParte}}</h3> -->
    <!-- </div> -->
    <!-- <div [hidden]="novedad.fechaEvento ==='' || novedad.fechaEvento ===null"> -->
    <!-- <h2>Fecha del evento</h2> -->
    <!-- <h3>{{novedad.fechaEvento}}</h3> -->
  </div>
</ion-content>

<!-- OLD -->

<!-- <div class="container">
    <div class="barraSuperior" (click)="volver()">&#60; volver</div>
    <h1>{{clase.titulo}}</h1>
    <p>{{clase.descripcion}}</p>
    <ion-img src="{{clase.imagen}}" alt="" />
    <h2>Sobre la clase</h2>
    <h3>{{clase.masInformacion}}</h3>
    <h2>Horarios</h2>
    <h3 *ngFor="let horario of clase.horarioCompleto">{{horario}}</h3>
    <h2>Puntos</h2>

    <p>
      NOTA: Deberás canjear el código que te darán en la clase en la sección
      “Mis Clases”
    </p>

    <ion-button (click)="inscribirse()" [hidden]="clase.inscripto"
      >Inscribirse</ion-button
    >
    <div [hidden]="!clase.inscripto">Ya estas inscripto!</div>
  </div> -->
