.top-page-container {
  h3 {
    margin-top: 28px;
  }

  p {
    margin-top: 8px;
    color: var(--ion-color-medium-gray);
  }
}

.article-container-content {
  margin-top: 40px;
}





.article-img {
  margin-top: 32px;
  height: 280px;
  object-fit: cover;
}

