.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  margin-bottom: 40px;
}

.logo {
  height: 80px;
  margin: 0 auto;
}
