<ion-content color="primary">
  <div class="page-container">
    <div class="logo-container">
      <ion-img
        class="logo"
        src="../../assets/icons/logo-white.svg"
        alt="app logo"
      ></ion-img>
    </div>

    <div class="card-container">
      <div [hidden]="!errorConexion">
        <error-conexion (reintentar)="actualizarDatos()"></error-conexion>
      </div>
      <div [hidden]="errorConexion">
        <novedad
          *ngIf="novedadDestacada!=undefined"
          [novedad]="novedadDestacada"
        ></novedad>
        <carrousel-programas
          *ngIf="novedadesArray?.length!==0"
          (programaDetalle)="verDetallePrograma($event)"
          [data]="programasArray"
          tituloSeccion="Nuestros programas"
        ></carrousel-programas>
        <articulos-carrousel
          *ngIf="novedadesArray?.length!==0"
          (articuloDetalle)="verDetalleArticulo($event)"
          [data]="eventosArray"
          tituloSeccion="Próximos eventos"
        ></articulos-carrousel>
        <lista-novedades
          [listaNovedades]="novedadesArray"
          [hidden]="novedadesArray?.length===0"
        ></lista-novedades>
      </div>
    </div>
  </div>
</ion-content>
