<div class="novedad">
  <h2 class="cat cat-destacado" *ngIf="novedad.categoria != categoriaPrev">
    {{ novedad.categoria }}
  </h2>
  <div class="img-container" (click)="navigate(novedad)">
    <ion-img
      class="elevation-3 img-card-thumbnail"
      [src]="novedad.imagen"
      alt=""
    ></ion-img>
  </div>
  <div class="titulo-fav">
    <!-- <h5>{{ novedad.titulo }}</h5> -->
    <h5 (click)="navigate(novedad)">{{ novedad.titulo }}</h5>
    <div class="icon-container">
      <ion-icon
        hidden="true"
        class="favorited"
        src="../../../assets/icons/card-favorited-filled.svg"
        alt=""
      ></ion-icon>
    </div>
    <!-- <ion-icon name="square"></ion-icon>
    <ion-icon name="square" (click)="favear()"></ion-icon> -->
  </div>
  <!-- <p>{{ novedad.texto }}</p> -->
  <p
    class="subtitle subtitle-novedad text-truncate"
    (click)="navigate(novedad)"
  >
    {{ novedad.descripcion }}
  </p>
  <p class="subtitle date">{{ dateParsed }}</p>
</div>
