.novedad {
  margin: 0 20px 64px 20px;

  .img-container {
    height: 182px;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .titulo-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 4px;

    h5 {
      margin-right: 4px;
    }

    ion-icon {
      margin-left: 8px;
    }
  }

  // .description {
  //   margin-top: 8px;
  //   color: var(--ion-color-gray);
  //   font-weight: 400;
  // }

  .date {
    margin-top: 12px;
  }
}
