<div class="modal-component">
  <div class="content-backdrop"></div>
  <div class="success-modal">
    <div class="modal-info">
      <ion-icon
        *ngIf="!customIcon"
        class="modal-icon"
        src="../../../assets/icons/icon-checkmark-modal-qr.svg"
        alt=""
      ></ion-icon>
      <ion-icon
        *ngIf="customIcon"
        class="modal-icon"
        [src]="srcIcon"
        alt=""
      ></ion-icon>

      <h4 class="modal-title">{{ modalText }}</h4>
      <p class="modal-text">
        Sumaste puntos a tus<br />
        habilidades de Avatar
      </p>
      <div class="points-earned-container">
        <div
          [hidden]="puntos.conocimiento == 0"
          class="small-tag tag-conocimiento"
        >
          +{{ puntos.conocimiento }} CONOCIMIENTO
        </div>
        <div [hidden]="puntos.bienestar == 0" class="small-tag tag-bienestar">
          +{{ puntos.bienestar }} BIENESTAR
        </div>
        <div [hidden]="puntos.destreza == 0" class="small-tag tag-destreza">
          +{{ puntos.destreza }} DESTREZA
        </div>
        <div
          [hidden]="puntos.creatividad == 0"
          class="small-tag tag-creatividad"
        >
          +{{ puntos.creatividad }} CREATIVIDAD
        </div>
      </div>
    </div>
    <div class="button-container">
      <ion-button (click)="ocultarModalFn()" class="button"
        >¡Entendido!</ion-button
      >
    </div>
  </div>
</div>
