.page-container {
  margin-bottom: 104px;
}

.page-title {
  display: flex;
  margin-bottom: 24px;
  margin-top: 28px;

  ion-img {
    margin-right: 8px;
    width: 32px;
    height: 32px;
  }
}

.mission-section {
  margin-top: 24px;

  .header {
    h5 {
      margin-bottom: 4px;
    }

    p {
      color: var(--ion-color-medium-gray);
    }
  }
}

.missions-container {
  margin-top: 32px;
}

.missions-container mision-tarjeta {
  margin-bottom: 24px;
}

.general-missions {
  margin-bottom: 64px;
}
