<ion-content>
  <!-- <mision-tarjeta></mision-tarjeta> -->
  <div class="back-arrow-container main-container" (click)="volver()">
    <ion-icon
      src="../../assets/icons/backArrow.svg"
      alt="back-arrow"
      class="back-arrow-icon"
    ></ion-icon>
    <p>Volver</p>
  </div>
  <div class="divider main-container"></div>
  <div class="main-container page-container">
    <div class="page-title">
      <ion-img
        src="../../assets/icons/missions-icon-page.svg"
        alt="mission target icon"
        class="missions-icon-page"
      ></ion-img>
      <h3>Mis misiones</h3>
    </div>
    <!-- <div class="mission-section monthly-missions">
      <div class="header">
        <h5>Misiones del mes: “Somos Ágiles”</h5>
        <p>
          Completá las misiones temáticas de este mes y participá de sorteos y
          premios.
        </p>
        <div class="divider"></div>
      </div>
      <div class="missions-container">
        <mision-tarjeta
          *ngFor="let mision of nivelesS.misiones"
          [mision]="mision"
          class="mission-self"
        ></mision-tarjeta>
      </div>
    </div> -->
    <div class="mission-section general-missions">
      <div class="header">
        <h5>Misiones de Elegí Bienestar GAME</h5>
        <p>
          Estas misiones te otorgarán una mayor recompensa pero te tomarán más
          tiempo.
        </p>
        <div class="divider"></div>
      </div>
      <div class="missions-container">
        <mision-tarjeta
          *ngFor="let mision of nivelesS.misiones"
          [mision]="mision"
          class="mission-self"
        ></mision-tarjeta>
      </div>
    </div>
  </div>
</ion-content>
