<ion-content color="primary">
  <div class="clases-cursos-top-container">
    <div class="icon-title">
      <ion-img src="../../assets/icons/title-clases.svg" alt=""></ion-img>
      <h2>Clases virtuales</h2>
    </div>
    <p>Visualizá todas las clases semanales e inscribite en ellas.</p>
  </div>
  <ion-segment [(ngModel)]="segment" (ionChange)="actualizarClases()" mode="md">
    <ion-segment-button
      value="misClases"
      [ngClass]="{'segment' : segment =='misClases'}"
    >
      Mis Clases
    </ion-segment-button>
    <ion-segment-button
      value="inscribirse"
      [ngClass]="{'segment' : segment =='inscribirse'}"
    >
      Inscribirse
    </ion-segment-button>
  </ion-segment>
  <div class="card-container">
    <div [hidden]="claseService.errorConexion">
      <div *ngIf='segment ==="misClases"'>
        <div
          [hidden]="claseService.listaClases?.length!=0"
          class="no-class-container main-container"
        >
          <ion-img src="../../assets/icons/no-classes.svg" alt=""></ion-img>
          <p class="subtitle aviso-no-class">
            Aún no te inscribiste a una clase.
          </p>
          <p class="verClases" (click)="irAClases()">Ver Clases</p>
        </div>
        <div [hidden]="claseService.listaClases?.length==0">
          <!-- sin clases en vivo  -->
          <div [hidden]="claseService.clasesEnVivo">
            <h2 class="tag tag-en-vivo main-container classes-tag">en vivo</h2>

            <div class="no-class-container main-container">
              <p class="subtitle aviso-no-class">
                No hay clases en vivo en este<br />momento.
              </p>
            </div>
          </div>
          <!-- hay clase en vivo -->
          <div [hidden]="!claseService.clasesEnVivo">
            <h2 class="tag tag-en-vivo main-container classes-tag">en vivo</h2>
            <!--  tag vivo-->
            <clase-miniatura
              *ngFor="let c of claseService.listaClases"
              (claseDetalle)="verDetalleClase($event)"
              [hidden]="!c.enVivo"
              [clase]="c"
            ></clase-miniatura>
          </div>
          <!-- clases offline -->
          <div class="divider class-divider"></div>
          <!-- separador -->
          <div>
            <h2 class="tag tag-conocimiento main-container classes-tag">
              Mis clases
            </h2>
            <!--tag mis clases  -->
            <div>
              <clase-miniatura
                (claseDetalle)="verDetalleClase($event)"
                *ngFor="let c of claseService.listaClases"
                [hidden]="c.enVivo"
                [clase]="c"
              ></clase-miniatura>
            </div>
            <!-- no tiene clases  -->
            <!-- <div
              [hidden]="claseService.listaClases.length!==0"
              class="no-class-container main-container"
            >
              <ion-img src="../../assets/icons/no-classes.svg" alt=""></ion-img>
              <p class="aviso-no-class">Aún no te inscribiste a una clase.</p>
              <p class="verClases" (click)="irAClases()">Ver Clases</p>
            </div> -->
          </div>
        </div>
      </div>
      <!-- segment inscripcion -->
      <div *ngIf='segment ==="inscribirse" '>
        <!-- sin clases -->
        <div
          [hidden]="claseService.listaClases?.length!=0"
          class="no-inscription-container"
        >
          <ion-img src="../../assets/icons/no-classes.svg" alt=""></ion-img>
          <p
            [hidden]="claseService.listaClases?.length!=0"
            class="subtitle aviso-no-inscriptions"
          >
            No hay más clases para <br />
            inscribirse.
          </p>
        </div>
        <!-- lista de clases -->
        <div
          [hidden]="claseService.listaClases?.length==0"
          class="main-container"
        >
          <h2 class="tag tag-conocimiento inscription-title">
            Clases disponibles
          </h2>
          <div *ngFor="let c of claseService.listaClases">
            <clase-tarjeta
              (claseDetalle)="verDetalleClase($event)"
              [clase]="c"
            ></clase-tarjeta>
          </div>
        </div>
      </div>
    </div>
    <error-conexion
      (reintentar)="reintentar()"
      [hidden]="!claseService.errorConexion"
    ></error-conexion>
  </div>
</ion-content>
<!-- <div *ngIf="seccion === 'enVivo'">

</div>
<div *ngIf="seccion === 'misClases'">

</div>

</div> -->
