.segment {
  color: var(--ion-color-white);
  font-weight: 700;
}
.segment-button-indicator {
  //   --indicator-color: white;
  background: white;
}

ion-segment {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
}

ion-segment-button {
  --indicator-color: white;
  --indicator-height: 4px;
  --border-radius: 50px;
  --color: white;
  font-family: "Poppins";
  font-weight: 500;
  width: 100px;
  text-transform: capitalize;
  font-size: 1rem;
}

.no-class-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;

  ion-icon {
    height: 64px;
    width: 64px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 8px;
  }

  .aviso-no-class {
    color: var(--ion-color-medium-gray);
  }

  .verClases {
    font-size: 16px;
    font-weight: 700;
    color: var(--ion-color-primary);
  }
}

.no-inscription-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;

  ion-img {
    height: 64px;
    margin-bottom: 20px;
  }

  .aviso-no-inscriptions {
    color: var(--ion-color-medium-gray);
  }
}

.inscription-title {
  margin-bottom: 32px;
}

.classes-tag {
  margin-bottom: 32px;
}

.class-divider {
  margin: 48px 20px 32px 20px;
}
