<div class="tarjeta" (click)="verDetalleClase(clase.idClase)">
  <div class="img-container">
    <ion-img class="elevation-3" [src]="clase.imagen" alt=""></ion-img>
  </div>
  <h5>{{ clase.titulo }}</h5>
  <p class="subtitle">{{ clase.descripcion }}</p>
  <p class="subtitle author">Por {{ clase.autor }}</p>
</div>
