.tarjeta {
  margin-bottom: 64px;
}

.img-container {
  height: 182px;

  ion-img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
}

h5 {
  margin-top: 12px;
  margin-bottom: 4px;
}

.author {
  margin-top: 12px;
}
