.skill-xp {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .skill {
    margin-right: 8px;
  }

  .xp {
    font-size: 14px;
    font-weight: medium;
    color: var(--ion-color-light-gray);
  }
}

.skill-bar {
  height: 42px;
  border-radius: 4px 4px 24px 4px;
}

.ion-color-bienestar {
  background-color: rgba(#1ae5c1, 0.2);
}
.ion-color-creatividad {
  background-color: rgba(#d174ff, 0.2);
}
.ion-color-destreza {
  background-color: rgba(#ffaa2a, 0.2);
}
.ion-color-conocimiento {
  background-color: rgba(#70c7ff, 0.2);
}

.profile-skill-tag {
  font-family: "Press Start 2P";
  font-size: 10px;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;
  font-weight: 400;
}

.profile-skill-tag-conocimiento {
  color: var(--ion-color-primary);
  background: rgba(66, 180, 255, 0.12);
}

.profile-skill-tag-creatividad {
  background: rgba(210, 121, 255, 0.12);
  color: var(--ion-color-creatividad);
}

.profile-skill-tag-bienestar {
  background: rgba(70, 227, 152, 0.12);
  color: var(--ion-color-success);
}

.profile-skill-tag-destreza {
  color: var(--ion-color-destreza);
  background: rgba(255, 170, 42, 0.12);
}

.attribute-bar {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  .attribute-icon {
    height: 28px;
    width: 28px;
    padding: 7px;
    border-radius: 12px 2px 2px 12px;
    margin-right: 4px;
  }

  .bienestar {
    background: rgba(9, 220, 182, 0.3);
  }

  .destreza {
    background: rgba(249, 165, 40, 0.3);
  }

  .conocimiento {
    background: rgba(71, 182, 255, 0.3);
  }

  .creatividad {
    background: rgba(180, 38, 252, 0.3);
  }
}
