<div>
  <div>
    <div class="skill-xp">
      <p [class]="'skill profile-skill-tag profile-skill-tag-' + this.color">
        {{ color }} LVL
        {{ nivelesS.calcularNivel(this.nivelesS.atributosUsuario[this.color]) }}
      </p>
      <p class="xp">
        ({{ this.nivelesS.atributosUsuario[this.color] }}/{{
          this.nivelesS.obtenerExperienciaProximoNivel(
            this.nivelesS.atributosUsuario[this.color]
          )
        }}pts.)
      </p>
    </div>
    <div class="attribute-bar">
      <ion-icon
        class="attribute-icon {{ color }}"
        [src]="icono"
        alt=""
      ></ion-icon>
      <ion-progress-bar
        [style]="style"
        class="skill-bar"
        [color]="color"
        [value]="nivelesS.progresoAtributosUsuario[color]"
      ></ion-progress-bar>
    </div>
  </div>
</div>
