/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Press+Start+2P&display=swap");

/* Globals */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  color: #343434;
}

/* Typography */

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  color: #343434;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

// Subtitles

.subtitle-medium {
  font-size: 0.875rem;
  font-size: 500;
  color: var(--ion-color-gray);
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 0.875rem;
  font-size: 400;
  color: var(--ion-color-gray);
  font-family: "Poppins", sans-serif;
}

// Body & others
p {
  font-size: 1rem;
  line-height: 150%;
  color: var(--ion-color-offblack);
}

.text-description {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--ion-color-gray);
}

/* Layout */

.main-container {
  margin: 0 20px;
}

.card-container {
  background-color: #ffff;
  border-radius: 32px 32px 0 0;
  margin-top: 8px;
  padding-top: 40px;
  padding-bottom: 64px;
  min-height: 75vh;
  box-shadow: 0px -1px 8px rgba(37, 37, 37, 0.15);
}

.clases-cursos-top-container {
  margin: 44px 20px 64px 20px;

  h2 {
    color: var(--ion-color-white);
  }

  p {
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.9);
  }

  div {
    display: flex;
    align-items: center;

    ion-img {
      margin-right: 16px;
      width: 28px;
      height: 28px;
    }
  }
}

.divider {
  height: 1px;
  margin-top: 16px;
  background-color: #f4f4f4;
}

.elevation-1 {
  box-shadow: 0px 3px 8px rgba(37, 37, 37, 0.15);
}

.elevation-2 {
  box-shadow: -2px 3px 9px 0px rgba(25, 25, 25, 0.08);
}

.elevation-3 {
  box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.15);
}

.tag {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 16px;
  font-weight: 400;
}

.small-tag {
  font-family: "Press Start 2P";
  font-size: 10px;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  width: fit-content;
  font-weight: 400;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.tag-bienestar {
  background: rgba(70, 227, 152, 0.12);
  color: var(--ion-color-success);
}

.tag-creatividad {
  background: rgba(210, 121, 255, 0.12);
  color: var(--ion-color-creatividad);
}

.tag-destreza {
  color: var(--ion-color-destreza);
  background: rgba(255, 170, 42, 0.12);
}

.tag-conocimiento {
  color: var(--ion-color-primary);
  background: rgba(66, 180, 255, 0.12);
}

.tag-en-vivo {
  color: #ff6e6e;
  background: rgba(255, 110, 110, 0.12);
}

.event-date-tag {
  padding: 4px 8px 4px 8px;
  background: rgba(66, 180, 255, 0.12);
  border-radius: 4px;
  width: fit-content;
  margin-top: 4px;
  margin-right: 4px;

  p {
    color: #42b4ff;
    font-weight: 600;
  }
}

.event-tag {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  width: fit-content;
  margin-top: 4px;
  margin-right: 4px;

  p {
    font-weight: 600;
  }
}

.cat {
  font-family: "Press Start 2P", sans-serif;
  font-size: 11px;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 32px;
  width: fit-content;
  font-weight: 400;
}

.carrousel-cat {
  margin-left: 20px;
}

.cat-destacado {
  color: var(--ion-color-success);
  background: rgba(0, 186, 136, 0.12);
}

.cat-nuestros-programas {
  color: var(--ion-color-primary);
  background: rgba(66, 180, 255, 0.12);
}

.cat-proximos-eventos {
  color: var(--ion-color-destreza);
  background: rgba(255, 170, 42, 0.12);
}

.cat-seguir-viendo {
  color: #ff6e6e;
  background: rgba(255, 110, 110, 0.12);
}

.lvl-chip {
  font-family: "Press Start 2P";
  font-size: 10x;
  padding: 8px;
  border-radius: 5px;
  text-transform: uppercase;
  width: fit-content;
  font-weight: 400;
  letter-spacing: 2px;
  background: #42b4ff;
  margin-top: 8px;
}

// inputs, buttons & other elements

.form-feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
}

.input-label {
  font-size: 18px;
  font-weight: 500;
  color: var(--ion-color-offblack);
  margin-bottom: 12px;
}

.input-box {
  border: none;
  padding: 20px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 4px solid rgb(0, 0, 0, 0%);
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--ion-color-offblack);
}

.input-feedback {
  min-height: 180px;
  resize: none;
}

.input-box::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: var(--ion-color-medium-gray);
}

.input-box:focus {
  background-color: #ffff;
  border: 4px #42b4ff solid;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-button {
  --background: var(--ion-color-primary);
  height: 60px;
  --background-activated: #52b7fa;
  --border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  max-width: 335px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.outline-btn {
  border: 4px solid var(--ion-color-primary);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
  color: var(--ion-color-primary);
  width: 100%;
  max-width: 335px;
  background-color: #ffff;
  height: 60px;
  outline: none;
}

.outline-btn-container {
  display: flex;
  justify-content: center;
}

.outline-btn:active {
  border: 4px solid #52b7fa;
}

.img-card-thumbnail {
  border-radius: 6px !important;
  overflow: hidden;
}

// icons

.checkmark {
  font-size: 20px;
}

.favorited {
  font-size: 28px;
}

.article-icon {
  font-size: 28px;
}

.back-arrow-container {
  margin-top: 44px;
  display: flex;
  align-items: center;

  .back-arrow-icon {
    height: 28px;
    width: 28px;
  }

  p {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--ion-color-primary);
    margin-left: 4px;
  }
}

// Template

.template-section-container {
  margin-bottom: 48px;
}

.template-title {
  margin-bottom: 16px;
}

.template-paragraph {
  margin-bottom: 32px;
}

.template-video-container {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.15);
  margin-bottom: 48px;
}

// Info con iconos (info, horarios, puntos e inscripcion)

.info-icon-container {
  margin-bottom: 48px;

  .icon-title {
    display: flex;
    align-items: center;

    h4 {
      margin-left: 12px;
    }

    .icon {
      height: 28px;
      width: 28px;
    }

    margin-bottom: 24px;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
  }
}

// Modals y otros componentes

.modal-component {
  .content-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(18, 18, 18, 0.32);
    backdrop-filter: blur(1.5px);
  }
  .success-modal {
    padding: 24px 20px 24px 20px;
    box-shadow: 0px 0px 16px rgba(40, 40, 40, 0.15);
    border-radius: 12px;
    max-width: 300px;
    background-color: var(--ion-color-white);

    width: 100%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modal-info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .modal-icon {
        width: 48px;
        height: 48px;
        margin-bottom: 12px;
      }

      .modal-title {
        margin-bottom: 4px;
        text-align: center;
      }

      .modal-text {
        margin-bottom: 24px;
        color: var(--ion-color-gray);
        font-size: 14px;
        text-align: center;
      }

      .points-earned-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
      }
    }
  }
}

.toastCustom {
  --height: 52px;
  font-weight: 500;
}
.toastCustomWarning {
  --height: 52px;
  font-weight: 600;
  color: #ffffff;
  --background: var(--ion-color-destreza);
}




// <div class="back-arrow-container main-container" (click)="volver()">
// <ion-icon
//   class="icon"
//   src="../../assets/icons/backArrow.svg"
//   alt="back-arrow"
//   class="back-arrow-icon"
// ></ion-icon>
// <p>Volver</p>
// </div>