.page-container {
  margin-top: 28px;

  .page-title {
    margin-bottom: 8px;
  }

  .page-subtitle {
    color: var(--ion-color-medium-gray);
  }
}

.clases-container {
  margin-top: 40px;

  .tags-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.clase {
  margin-bottom: 24px;

  .img-info-container {
    display: flex;
    align-items: flex-start;

    .img-container {
      flex-shrink: 0;
      padding: 12px;
      border-radius: 6px;
      margin-right: 16px;
      background: rgba(52, 185, 241, 0.18);

      ion-img {
        height: 40px;
        width: 40px;
      }
    }

    .class-info-container {
      h5 {
        margin-bottom: 4px;
      }

      p {
        font-size: 14px;
        color: var(--ion-color-medium-gray);
        margin-bottom: 16px;
      }
    }
  }
}
