<ion-content>
  <div class="back-arrow-container main-container" (click)="volver()">
    <ion-icon
      src="../../assets/icons/backArrow.svg"
      alt="back-arrow"
      class="back-arrow-icon"
    ></ion-icon>
    <p>Volver</p>
  </div>
  <div class="divider main-container"></div>
  <div class="main-container page-container">
    <h3 class="page-title">Mis clases</h3>
    <p class="page-subtitle">
      Esta es una lista de todas las clases en las que participaste.
    </p>
    <div class="clases-container">
      <div *ngFor="let clase of nivelesS.participaciones.clases" class="clase">
        <div class="img-info-container">
          <div class="img-container">
            <ion-img [src]="clase.imagenMini"></ion-img>
          </div>
          <div class="class-info-container">
            <h5>{{clase.titulo}}</h5>
            <p>{{clase.fecha}}</p>
            <div class="tags-container">
              <div
                [hidden]="clase.conocimiento==0"
                class="small-tag tag-conocimiento"
              >
                +{{clase.conocimiento}}
              </div>
              <div
                [hidden]="clase.creatividad==0"
                class="small-tag tag-creatividad"
              >
                +{{clase.creatividad}}
              </div>
              <div [hidden]="clase.destreza==0" class="small-tag tag-destreza">
                +{{clase.destreza}}
              </div>
              <div
                [hidden]="clase.bienestar==0"
                class="small-tag tag-bienestar"
              >
                +{{clase.bienestar}}
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</ion-content>
