.back-arrow-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
  
    p {
      font-size: 1.125rem;
      font-weight: 600;
      color: var(--ion-color-primary);
      margin-left: 4px;
    }
  }
  
  .page-container {
    margin-top: 28px;
    margin-bottom: 40px;
  
    .title-sub {
    margin-bottom: 40px;

    h3 {
        margin-bottom: 16px;
    }

    p {
        color: var(--ion-color-gray);
    }
  }

  .lista-logros {
      margin-top: 48px;
  }

  .achievement-full {
        display: flex;
        margin-bottom: 24px;

        .achievement-description-unlocked {
            padding-top: 4px;

            h5 {
                font-weight: 600;
            }

            p {
                color: var(--ion-color-gray);
                margin-top: 4px;
            }
        }

        .achievement-description-locked {
            padding-top: 4px;

            h5 {
                font-weight: 500;
                color: var(--ion-color-light-gray);
            }

            p {
                color: var(--ion-color-lighter-gray);
                margin-top: 4px;
            }
        }

      .achievement {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
    
        height: 64px;
        width: 64px;
        border-radius: 7px;
      }
    
      .unlocked {
        background: rgba(0, 140, 232, 0.12);
        ion-img {
          height: 40px;
          width: 40px;
        }
      }
    
      .locked {
        background: rgba(172, 172, 172, 0.12);
        p {
          color: rgba(219, 219, 219, 1);
          font-size: 36px;
          font-weight: 600;
        }
      }
  }
}