<ion-content>
    <div class="main-container">
        <div class="back-arrow-container" (click)="volver()">
          <ion-img
            src="../../assets/icons/backArrow.svg"
            alt="back-arrow"
          ></ion-img>
          <p>Volver</p>
        </div>
        <div class="divider"></div>
        <div class="page-container">
          <div class="title-sub">
            <h3>Lista de logros</h3>
            <p>Los logros te ayudan a ver tu progreso dentro de la app.</p>
    
          </div>
          <div class="lista-logros">
              <div class="achievement-full">
                <div class="achievement unlocked">
                    <ion-img
                      src="../../assets/achievements/general-lvl/lvl-2.svg"
                      alt=""
                    ></ion-img>
                  </div>
                  <div class="achievement-description">
                      <h5>Nivel General II</h5>
                      <p>Alcanzá el nivel general 2</p>
                  </div>
              </div>
              <div class="achievement-full">
                <div class="achievement locked">
                    <p>?</p>
                  </div>
                  <div class="achievement-description-locked">
                      <h5>Logro sin desbloquear</h5>
                      <p>???</p>
                  </div>
              </div>
              <div class="achievement-full">
                <div class="achievement locked">
                    <p>?</p>
                  </div>
                  <div class="achievement-description-locked">
                      <h5>Logro sin desbloquear</h5>
                      <p>???</p>
                  </div>
              </div>
              <div class="achievement-full">
                <div class="achievement locked">
                    <p>?</p>
                  </div>
                  <div class="achievement-description-locked">
                      <h5>Logro sin desbloquear</h5>
                      <p>???</p>
                  </div>
              </div>
              <div class="achievement-full">
                <div class="achievement locked">
                    <p>?</p>
                  </div>
                  <div class="achievement-description-locked">
                      <h5>Logro sin desbloquear</h5>
                      <p>???</p>
                  </div>
              </div>
              <div class="achievement-full">
                <div class="achievement locked">
                    <p>?</p>
                  </div>
                  <div class="achievement-description-locked">
                      <h5>Logro sin desbloquear</h5>
                      <p>???</p>
                  </div>
              </div>
              <div class="achievement-full">
                <div class="achievement locked">
                    <p>?</p>
                  </div>
                  <div class="achievement-description-locked">
                      <h5>Logro sin desbloquear</h5>
                      <p>???</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
</ion-content>
