.ranking-header {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .icon {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }
}

.own-ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  .own-name {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
    color: var(--ion-color-offblack);
  }

  .banners {
    margin-top: 12px;

    .title {
      font-size: 14px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
    }

    .number {
      font-size: 24px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
    }

    .lvl-banner {
      margin-right: 6px;

      .lvl-number {
      }
    }

    .rank-banner {
      margin-left: 6px;
      text-align: center;
    }

    // Banners Ranking General

    .lvl-banner-general {
      path {
        fill: #d9eefc;
      }

      text {
        fill: var(--ion-color-primary-tint2);
      }
    }

    .rank-banner-general {
      path {
        fill: #0094f5;
      }

      text {
        fill: white;
      }
    }

    // Banners Ranking Bienestar

    .lvl-banner-bienestar {
      path {
        fill: #ccf1e7;
      }

      text {
        fill: #00b283;
      }
    }

    .rank-banner-bienestar {
      path {
        fill: #00b283;
      }

      text {
        fill: white;
      }
    }

    // Banners Ranking Conocimiento

    .lvl-banner-conocimiento {
      path {
        fill: #ccebff;
      }

      text {
        fill: var(--ion-color-primary-tint2);
      }
    }

    .rank-banner-conocimiento {
      path {
        fill: var(--ion-color-primary-tint2);
      }

      text {
        fill: white;
      }
    }

    // Banners Ranking Destreza

    .lvl-banner-destreza {
      path {
        fill: #ffeed4;
      }

      text {
        fill: var(--ion-color-destreza);
      }
    }

    .rank-banner-destreza {
      path {
        fill: var(--ion-color-destreza);
      }

      text {
        fill: white;
      }
    }

    // Banners Ranking Creatividad

    .lvl-banner-creatividad {
      path {
        fill: #f6e4ff;
      }

      text {
        fill: #d279ff;
      }
    }

    .rank-banner-creatividad {
      path {
        fill: #d279ff;
      }

      text {
        fill: white;
      }
    }
  }
}

.ranking-selectors-container::-webkit-scrollbar {
  display: none;
}

.ranking-selectors-container {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 56px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  .ranking-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: fit-content;
    border-radius: 4px;
    margin-right: 8px;

    .ranking-icon {
      height: 16px;
      width: 16px;
      padding-bottom: 2px;
      margin-right: 8px;
    }

    .ranking-name {
      font-family: "Press Start 2P", sans-serif;
      font-size: 10px;
    }
  }
}

.ranking-general {
  p {
    color: var(--ion-color-primary-tint2);
  }
  background: #d9eefc;
}

.ranking-bienestar {
  p {
    color: #00b283;
  }
  background: #ccf1e7;
}

.ranking-destreza {
  p {
    color: var(--ion-color-destreza);
  }
  background: #ffeed4;
}

.ranking-conocimiento {
  p {
    color: var(--ion-color-primary-tint2);
  }
  background: #ccebff;
}

.ranking-creatividad {
  p {
    color: #d279ff;
  }
  background: #f6e4ff;

  // &:active {
  //     border: 2.5px solid #D279FF;;
  // }

  // &:focus {
  //     border: 2.5px solid #D279FF;;
  // }
}

.ranking-list-container {
  margin-top: 16px;

  .ranking-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #f4f4f4;
    border-bottom: 0.5px solid #f4f4f4;
    padding: 16px 20px 16px 20px;

    .left-content {
      display: flex;
      flex-direction: row;
      align-items: center;

      .ranking-number {
        min-width: 20px;
        font-size: 14px;
        font-weight: 700;
        color: var(--ion-color-offblack);
        text-align: right;
        margin-right: 16px;
      }

      .avatar-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          margin-left: 8px;
          font-weight: 600;
        }
      }
    }

    .right-content {
      p {
        font-weight: 700;
        font-size: 14px;
        color: var(--ion-color-gray);
      }
    }
  }
}
