<ion-content>
  <div class="back-arrow-container main-container" (click)="volver()">
    <ion-icon
      class="icon"
      src="../../assets/icons/backArrow.svg"
      alt="back-arrow"
      class="back-arrow-icon"
    ></ion-icon>
    <p>Volver</p>
  </div>
  <div>
    <div class="ranking-header main-container">
      <ion-icon
        class="icon"
        src="../../assets/icons/ranking-icon.svg"
        alt="ranking icon"
      ></ion-icon>
      <h5>Ranking General</h5>
    </div>
    <div class="own-ranking-container">
      <avatar width="94px" height="100px" [options]="avatar"></avatar>
      <p class="own-name">{{rankService.ranking.usuario?.nickname}}</p>
      <div class="banners">
        <svg
          class="lvl-banner"
          [ngClass]="rankService.styleBanner"
          width="54"
          height="80"
          viewBox="0 0 54 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 6C0.5 2.68629 3.18629 0 6.5 0H47.5C50.8137 0 53.5 2.68629 53.5 6V65.7691C53.5 69.2645 50.005 71.6811 46.7347 70.4471L28.0592 63.3997C27.3765 63.1421 26.6235 63.1421 25.9408 63.3997L7.26528 70.4471C3.99496 71.6811 0.5 69.2645 0.5 65.7691V6Z"
            fill="#008CE8"
          />
          <text
            class="title"
            fill="#008CE8"
            xml:space="preserve"
            style="white-space: pre"
          >
            <tspan y="19.4" x="50%" text-anchor="middle">LVL</tspan>
          </text>
          <text
            class="number"
            fill="#008CE8"
            xml:space="preserve"
            style="white-space: pre"
            font-family="Poppins"
            font-size="24"
            font-weight="bold"
            letter-spacing="0px"
          >
            <tspan x="50%" text-anchor="middle" y="51.4">{{rankService.ranking.usuario?.puntos}}</tspan>
          </text>
        </svg>
        <svg
          class="rank-banner"
          [ngClass]="rankService.styleRank"
          width="54"
          height="80"
          viewBox="0 0 54 80"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.5 6C0.5 2.68629 3.18629 0 6.5 0H47.5C50.8137 0 53.5 2.68629 53.5 6V65.7691C53.5 69.2645 50.005 71.6811 46.7347 70.4471L28.0592 63.3997C27.3765 63.1421 26.6235 63.1421 25.9408 63.3997L7.26528 70.4471C3.99496 71.6811 0.5 69.2645 0.5 65.7691V6Z"
            fill="#008CE8"
          />
          <text class="title" xml:space="preserve" style="white-space: pre">
            <tspan x="50%" text-anchor="middle" y="19.4">RANK</tspan>
          </text>
          <text class="number" xml:space="preserve" style="white-space: pre">
            <tspan x="50%" text-anchor="middle" y="51.4">{{rankService.ranking.usuario?.rank}}</tspan>
          </text>
        </svg>
      </div>
    </div>
    <div  class="ranking-selectors-container">
      <div (click)="cambiarCategoria('general')" class="ranking-selector ranking-general">
        <ion-icon
          class="ranking-icon"
          src="../../assets/icons/pixel-general.svg"
          alt="ranking icon"
        ></ion-icon>
        <p class="ranking-name">General</p>
      </div>

      <div (click)="cambiarCategoria('bienestar')" class="ranking-selector ranking-bienestar">
        <ion-icon
          class="ranking-icon"
          src="../../assets/icons/pixel-bienestar.svg"
          alt="ranking icon"
        ></ion-icon>
        <p class="ranking-name">Bienestar</p>
      </div>

      <div (click)="cambiarCategoria('destreza')" class="ranking-selector ranking-destreza">
        <ion-icon
          class="ranking-icon"
          src="../../assets/icons/pixel-destreza.svg"
          alt="ranking icon"
        ></ion-icon>
        <p class="ranking-name">Destreza</p>
      </div>

      <div (click)="cambiarCategoria('conocimiento')" class="ranking-selector ranking-conocimiento">
        <ion-icon
          class="ranking-icon"
          src="../../assets/icons/pixel-conocimiento.svg"
          alt="ranking icon"
        ></ion-icon>
        <p class="ranking-name">Conocimiento</p>
      </div>

      <div (click)="cambiarCategoria('creatividad')"  class="ranking-selector ranking-creatividad">
        <ion-icon
          class="ranking-icon"
          src="../../assets/icons/pixel-creatividad.svg"
          alt="ranking icon"
        ></ion-icon>
        <p class="ranking-name">Creatividad</p>
      </div>
    </div>

    <div class="ranking-list-container">
      <div *ngFor="let rank of rankService.ranking.ranking; let i = index" class="ranking-position">
        <div class="left-content">
          <p class="ranking-number">{{i+1}}</p>
          <div class="avatar-name">
            <avatar width="40px" height="40px" [options]="rank.avatar"></avatar>
            <p>{{rank.nickname}}</p>
          </div>
        </div>
        <div class="right-content">
          <p>{{rank.puntos}}</p>
        </div>
      </div>

      <!-- <div class="ranking-position">
        <div class="left-content">
          <p class="ranking-number">2</p>
          <div class="avatar-name">
            <avatar width="40px" height="40px" [options]="avatar"></avatar>
            <p>SupilisBiscuis</p>
          </div>
        </div>
        <div class="right-content">
          <p>LVL 720</p>
        </div>
      </div>

      <div class="ranking-position">
        <div class="left-content">
          <p class="ranking-number">3</p>
          <div class="avatar-name">
            <avatar width="40px" height="40px" [options]="avatar"></avatar>
            <p>SupilisBiscuis</p>
          </div>
        </div>
        <div class="right-content">
          <p>LVL 720</p>
        </div>
      </div>

      <div class="ranking-position">
        <div class="left-content">
          <p class="ranking-number">4</p>
          <div class="avatar-name">
            <avatar width="40px" height="40px" [options]="avatar"></avatar>
            <p>SupilisBiscuis</p>
          </div>
        </div>
        <div class="right-content">
          <p>LVL 720</p>
        </div>
      </div>

      <div class="ranking-position">
        <div class="left-content">
          <p class="ranking-number">5</p>
          <div class="avatar-name">
            <avatar width="40px" height="40px" [options]="avatar"></avatar>
            <p>SupilisBiscuis</p>
          </div>
        </div>
        <div class="right-content">
          <p>LVL 720</p>
        </div>
      </div>

      <div class="ranking-position">
        <div class="left-content">
          <p class="ranking-number">6</p>
          <div class="avatar-name">
            <avatar width="40px" height="40px" [options]="avatar"></avatar>
            <p>SupilisBiscuis</p>
          </div>
        </div>
        <div class="right-content">
          <p>LVL 720</p>
        </div>
      </div> -->
    </div>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMasPuestos()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- <avatar width="122px" height="113px" [options]="avatar"></avatar>
<avatar width="148px" height="156px" [options]="avatar"></avatar>
<avatar width="148px" height="156px" [options]="avatar"></avatar> -->
