<div class="articles-cat-container">
  <h2 class="cat cat-seguir-viendo carrousel-cat">Seguir viendo</h2>
  <div class="articles-container">
    <div *ngFor="let item of data" class="articulo">
      <div class="img-container" (click)="verDetalleTaller(item.idTaller)">
        <ion-img
          class="elevation-3 img-card-thumbnail"
          [src]="item.imagen"
          alt=""
        ></ion-img>
      </div>
      <div class="titulo-fav">
        <h5 (click)="verDetalleTaller(item.idTaller)">{{ item.titulo }}</h5>
        <div class="icon-container">
          <ion-icon
            hidden="true"
            src="../../../assets/icons/card-favorited-unfilled.svg"
            alt=""
            class="favorited"
          ></ion-icon>
        </div>
      </div>
      <p
        class="subtitle description text-truncate"
        (click)="verDetalleTaller(item.idTaller)"
      >
        {{ item.descripcion }}
      </p>
      <div class="info-container">
        <!-- <div [hidden]="item.idTaller == null">Fecha y Autor</div> -->
        <div class="subtitle autor-description">{{ item.autor }}</div>
        <div class="video-checkmark">
          <p class="subtitle video-count">
            {{ item.videosVistos }}/{{ item.videos?.length }} videos
          </p>
          <!-- <ion-icon
            class="checkmark"
            src="../../../assets/icons/curso-unwatched.svg"
            alt=""
          ></ion-icon> -->
        </div>
      </div>
    </div>
  </div>
</div>
