.articles-cat-container {
  margin-bottom: 64px;
}

.articles-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.articles-container::-webkit-scrollbar {
  display: none;
}

.articulo:first-of-type {
  margin-left: 20px;
}

.articulo:last-of-type {
  padding-right: 16px;
}

.articulo {
  position: relative;
  width: 236px;
  flex: 0 0 auto;
  margin-right: 32px;

  .img-container {
    height: 182px;

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .titulo-fav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 12px;

    h5 {
    }

    ion-icon {
      margin-left: 8px;
    }
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 16px;

    .video-checkmark {
      display: flex;
      align-items: flex-end;

      ion-icon {
        margin-left: 8px;
      }

      .video-count {
        white-space: nowrap;
      }
    }
  }

  .description {
    margin-right: 16px;
    margin-top: 8px;
  }

  .autor-description {
    margin-right: 16px;
    margin-top: 8px;
  }
}
